<%= javascript_include_tag :defaults %>

<div id="score" class="container">
	<h1>Scoreskalaer</h1>

	<div id="left" style=" width:49%; padding-right: 1%; border-right: 1px solid #ccc;">
		<ol class="scales<%= @action == "order" ? " drag" : "" %>" id="scale_list">
			<% @scales.each do |@scale| %>
				<% scale_id = "scale_#{@scale.id}" %>
					<li id="<%= scale_id %>" class="<%= @action == "order" ? "draggable" : "" %>" >
						<% if @action == 'order' %>
							<%= img_tag_html4 '/images/drag_handle.gif' %>
							<%= @scale.title %>
							<%= draggable_element(scale_id) %>
						<% end %>
			<% end %>
		</ol>

		<% if current_user.has_access? :score_edit %>
		<div id="bottom-left">
			<div class="actions">
				<% if @action == 'order' %>
				<%= link_to_remote 'Færdig!', :url => {:controller => :score, :action => 'done_ordering_scales', :id => @scale} %>
				<% elsif @scales.size > 1 %>
				<%= link_to 'Reorganiser liste', {:controller => :score, :action => 'order_scales'} %><br>
				<% else %>
				<%= link_to 'Index', {:controller => :score, :action => 'list_scales'} %><br>
				<% end %>

				<% unless @action == 'order' %>
				<%= link_to 'Opret ny skala', {:controller => :score, :action => 'new_scale'} %>
				<% end %>
			</div>
		</div>
		<% end %>

		<% if @action == 'order' %>
		<div id="sortable">
			<%= sortable_element 'scale_list', :url => {:controller => :score, :action => 'sort_scales'}, 
			:complete => visual_effect(:highlight, 'scale_list') 
			%> 
		</div>
		<% end %>

	</div>
	<p>
		<br>
		<br>
	</p>
</div>