
<h2>Noter</h2>

<% form_tag :action => 'update_notes', :id => @journal_entry do %>
	<p>
	<div><%= @journal_entry.journal.get_title %></div>
		<div><%= @journal_entry.survey.get_title %></div>
	<br/>
	<div>
		Kort note: <%= "<label for=\"journal_entry_notes\">" %>
		<%= text_field :journal_entry, :notes %>
	</div>
	<p/>

	<%= hidden_field :journal_entry, :id, :value => @journal_entry.id %>

	<%= submit_tag t('save_changes'), :class => 'button save' %>
<% end %>

<%= back_button journal_path(@journal_entry.journal) %>