	<h3>Journaler</h3>
	<p>
	Tryk på en kolonne for at sortere tabellen.
	</p>
	
	<% if @journals.empty? %>
		<%= t('none') %>
	<% else %>
	<% @hide_team = true %>
	<div id="journals">
		<%= render :partial => 'journals/journals' %>
	</div>
	
	<% if params[:action] =~ /search/ %>
		<div style='align: right;'><b><%= @journals.size %></b> resultat<%= 'er' if @journals.size > 1 %></div>
	<% end %>

	<% if @group %>
	<p>
		<div class="commands">
			<br/>
			<% if current_user.access? :journal_new_edit_delete %>
			<%# link_button("Handling på flere", select_journals_path(@group), 'bulk_edit', :title => 'Udfør en handling på flere journaler') %>
			<% end %>
			<%= link_button(t('journal.new'), new_journal_path(@group), 'journal_add', :title => 'Opret Journal') %>
			<p>
		</div>


		<p><br/>
			<hr/>
		</p>
		<br/>
		<div class="functions">
			<span class="h3">Funktioner</span>
			<br/>
			<br/>
			<% if @group.parent && @group.parent.teams.size > 1 %>
			<%# link_button t('team.move_short'), select_move_journals_path(@group), 'journal_move', :class => "mini", :title => t('team.move') %>
			<% end %>
			<%# link_button t('export.journal_letter_data'), export_journals_path(@group, :format => 'csv') +".csv", 'export_logins', :title => 'Eksporter brevfletningsdata' %>

			<%# link_button t('journal.status_short'), reminder_path(@group), 'journal_status', :class => "mini", :title => t('journal.status') %>


			<a class="bigbutton" title="Flyt journaler" href="/journals/select_move/<%= @group.id %>"><span class="move_journals">Flyt journaler</span></a>
			<a class="bigbutton" href="/reminders/<%= @group.id %>" title="Status besvarelser"><span class="reminders">Status besvarelser</span></a>
			<br/>
			<br/>
			<br/>

			<a class="bigbutton" title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= @group.id %>.csv" title="Eksporter brevfletningsdata"><span class="lettermix">Hent brevfletninger</span></a>
			<a class="bigbutton" href="<%= export_login_path(@group.id) %>" title='Eksporter logins til Excel'><span class='export_logins'><%= t('export.logins_short') %></span></a>

		</div>
	</p>
	<% end %>
<% end %>