<h2><%=h @group.title %></h2>

<ul class="tabs" id="subscription_tabs" class="team_tabs">  
	<li class="tab"><a href="#info">Info</a></li>  
	<li class="tab"><a href="#team_users"><%= t('user.users') %></a></li> 
	<li class="tab"><a href="#team_journals"><%= t('journal.journals') %></a></li> 
</ul>
<div class="tab_canvas" id="tab_canvas_<%= @group.id %>">
	<br/>

	<div class="team_info" id="info">
		<%= render :partial => 'info' %>
	</div>


	<div class="team_users" id="team_users">
		<%= render :partial => 'shared/users' %>
	</div>

	<div class="team_journals" id="team_journals">
		<%= render :partial => 'shared/journals' %>
	</div>

</div>
<script type="text/javascript">
	$$('.tabs').each(function(tab_group){  
    new Control.Tabs(tab_group);  
	});
</script>

<br/>
<div class="commands">
<% if current_user.access? :team_new_edit_delete %>
	<%= link_button t('delete'), delete_team_path(@group), 'team_delete' %>
<% end %>
<% if current_user.access? :team_edit %>
	<%= link_button t('edit'), edit_team_path(@group), 'team_edit' %>
<% end %>
	<%= back_button teams_path %>
</div>
