<h2>Detaljer for Team &quot;<%=h @group.title %>&quot;</h2>

<!-- tabs -->
<ul class="main css-tabs">
	<li><%= link_to "Info", team_info_url(@group) %></li>
	<li><%= link_to "Brugere", team_user_url(@group) %></li>
	<li><%= link_to "Journaler", team_journal_url(@group) %></li>
</ul>

<div class="main css-panes">
	<div class="pane" style="display:block"></div>
</div>

<script>
	$("ul.main.css-tabs").tabs("div.main.css-panes > div.pane", {effect: 'ajax', history: true});
</script>


<br/>
<div class="commands">
<% if current_user.access? :team_new_edit_delete %>
	<%= link_button t('delete'), delete_team_path(@group), 'team_delete' %>
	<%= link_button t('edit'), edit_team_path(@group), 'team_edit' %>
	<% end %>
	<%= back_button teams_path %>
</div>
