<h2>Detaljer for Team &quot;<%=h @group.title %>&quot;</h2>

<ul class="tabs" id="subscription_tabs" class="team_tabs">  
	<li class="tab"><a href="#info">Info</a></li>  
	<li class="tab"><a href="#team_users"><%= t('user.users') %></a></li> 
	<li class="tab"><a href="#team_journals"><%= t('journal.journals') %></a></li> 
</ul>
<div class="tab_canvas" id="tab_canvas_<%= @group.id %>">
	<br/>

	<div class="team_info" id="info">
		<%= render :partial => 'info' %>
	</div>


	<div class="team_users" id="team_users">

		<h3><%= t('user.users') %> <span style="font-size: 11px;"><%= link_to_function (content_tag(:span, '&nbsp', {:id => 'expand', :class => 'expand'})), visual_effect(:toggle_blind, "user_list", {:duration => 0.5}) %></span></h3>
		<div id="user_list">
		<% if @users.empty? %>
		<p><%= t('none') %></p>
		<% else %>
		<%= render :partial => 'shared/user_list' %>
		<% end %>
	</div>

	<p/>
	<div class="commands">
		<%= link_button t('user.new'), new_user_path(@group), 'user_add', :title => t('user.new') %>
		<% if current_user.access? :journal_new_edit_delete %>
		<%= link_button(t('journal.new'), new_journal_path(@group), 'journal_add', :title => 'Opret Journal') %>
		<% end %>
	</div>
</div>

<div class="team_journals" id="team_journals">
	<h3>Journaler  <span style="font-size: 11px;"><%= link_to_function (content_tag(:span, '&nbsp', {:id => 'expand', :class => 'expand'})), visual_effect(:toggle_blind, "journals", {:duration => 0.5}) %></span></h3>
	<% if @groups.empty? %>
		<%= t('none') %>
	<% else %>
	<% @hide_team = true %>
	<div id="journals">
		<%= render :partial => 'shared/journal_list', :locals => {:hide_team => true} %>
	</div>
	
<%= render :partial => 'shared/ajax_pagination' %>

	<p>
		<div class="commands">
			<br/>
			<%= link_button t('export.logins'), formatted_export_logins_path(@group, 'csv') +".csv", 'export_logins', :title => 'Eksporter logins til Excel' %>
			<%= link_button t('team.move'), select_journals_path(@group), 'journal_move', :title => t('team.move') %>
			<p/>
		</div>
	</p>
	<% end %>
</div>

</div>
<script type="text/javascript">
	$$('.tabs').each(function(tab_group){  
    new Control.Tabs(tab_group);  
	});
</script>

<br/>
<div class="commands">
<% if current_user.access? :team_new_edit_delete %>
	<%= link_button t('delete'), delete_team_path(@group), 'team_delete' %>
	<%= link_button t('edit'), edit_team_path(@group), 'team_edit' %>
	<% end %>
	<%= back_button teams_path %>
</div>
