<!-- Used for reordering scores -->
<% score_id = "score_#{@score.id}" %>
<li id="<%= score_id %>" class="<%= @action == "order" ? "draggable" : "" %>" >
	<% if @action == 'order' %>
		<%= image_tag '/images/drag_handle.gif' %>
		<%= @score.title %>
	<% else %>
		<%= link_to_remote (@score.title  + " " + @score.short_name), :url => {:action => 'show_scale_surveys', :id => @score} %>
	<% end %>
</li>

<% if @action == 'order' %>
	<%= draggable_element(score_id) %>
<% end %>