<%= javascript_include_tag :defaults %>

<h1>Sorter scores</h1>
	 <h2><%= @scale.title %> skala</h2>

<ol class="<%= @action == "order" ? "drag" : "" %>" id='score_list'>
	<% @scores.each do |@score| %>
		<%= render :partial => "score", :object => @score %>
	<% end %>
</ol>

<% if @action == 'order' %>
	<div id="sortable">
		<%= sortable_element 'score_list', :url => {:action => 'sort_scores', :id => @scale, 
			:complete => visual_effect(:highlight, 'score_list') }
		%> 
	</div>
	<%= link_to_remote 'Færdig!', :url => {:action => 'done_ordering_scores', :id => @scale} %>

<% else %>
	<%= link_to 'Reorganiser liste', :action => 'order_scores', :id => @scale %>

	<br/>
	<%= link_to 'Nyt spørgsmål', :action => 'new', :id => @scale %>
	<br/>

	<p>
		<%= link_to 'Index', :action => 'index' %>
	</p>
<% end %>

