<div class="answer">
	<strong>
		<p><%= @question.faq_section.position %>. <%= @question.faq_section.title %></p>
		<%= @question.faq_section.position %>.<%= @question.position %> <%= @question.question %>
	</strong>
	<hr style="border: 0;"/>
	<%= @question.answer %>
</div>