<% section_id = "section_#{@section.id}" %>
<div>
	<li id="section_<%= @section.id %>" class="section_title"><%= @section.title %>
	<% if current_user.has_access? :faq_edit %>
		<span class="small_action" style="padding-left: 2em;">
			<%= link_to 'Rediger', edit_faq_section_url(@section), :class => "small_action" %>
			<%= link_to 'Slet', faq_section_url(@section), :method => :delete, :class => "small_action" %>
		</span>
	<% end %>
	</li>
	
	<ol class="questions" id="section_<%= @section.id %>">
		<% @section.faqs.each do |@question| %>
			<%= render :partial => "question" %>
		<% end %>
	</ol>
	<% if current_user.has_access? :faq_edit %>
		<%= link_to 'Nyt spørgsmål', new_faq_path(@section) %>
		<%= link_to 'Organiser liste', faq_order_questions_url(@section) %>
	<% end %>
	
</div>
