<% question_id = "question_#{@question.id}" %>
<li id="<%= question_id %>" class="<%= @action == "order" ? "draggable" : "" %>" >
	<% if @action == 'order' %>
		<%= img_tag_html4 '/images/drag_handle.gif', :alt => "træk" %>
		<%= @question.title %>
		<%= @question.question %>
	<% else %>
		<%= link_to_remote @question.title, :url => faq_answer_path(@question) %>
	<% end %>
	
	<% if current_user.access? :superadmin %>
		<span class="small_action" style="padding-left: 3em;">
			<%= link_to "Rediger", edit_faq_url(@question) %>
			<%= link_to_remote t('delete'), :url => faq_path(@question), :method => :delete, :confirm => "Vil du slette spørgsmålet?" %>
		</span>
	<% end %>
</li>

<% if @action == 'order' %>
	<%= draggable_element(question_id) %>
<% end %>