<%= javascript_include_tag :defaults %>

<div id="faq" class="container">
	<h1>Spørgsmål &amp; svar</h1>

	<div id="right" style="float:right; width:48%; padding-left: 1%;">
	</div>

	<div id="left" style=" width:49%; padding-right: 1%; border-right: 1px solid #ccc;">
		<ol class="sections<%= @action == "order" ? " drag" : "" %>" id="section_list">
			<% @sections.each do |@section| %>
			<%= render :partial => 'full_section' %>
			<% end %>
		</ol>

		<% if current_user.has_access? :faq_edit %>
		<div id="bottom-left">
			<div class="actions">
				<% if @action == 'order' %>
				<%= link_to_remote 'Færdig!', :url => faq_done_order(@section) %>
				<% elsif @sections.size > 1 %>
				<%= link_to 'Reorganiser lister', faq_order_path(@section) %><br>
				<% else %>
				<%= link_to 'Index', faqs_path %><br>
				<% end %>

				<% unless @action == 'order' %>
				<%= link_to 'Nyt afsnit', new_faq_section_path %>
				<% end %>
			</div>
		</div>
		<% end %>

		<% if @action == 'order' %>
		<div id="sortable">
			<%= sortable_element 'section_list', :url => faq_sort_path, 
			:complete => visual_effect(:highlight, 'section_list') 
			%> 
		</div>
		<% end %>

	</div>
	<p>
		<br>
		<br>
	</p>
</div>