<h2>Status på skemaer fra <%= center_or_team_text(@group) %> &quot;<%=h @group.title %>&quot;</h2>

	<h3>Status</h3>
	<% form_tag(csv_entry_status_download_path(@group) +".csv", :id => 'reminders', :class => 'form', :method => :post) do %>
	<span>
		<%= link_button "Ubesvarede", answer_status_path(@group, [2,4]), "status_unanswered", :class => 'answer_state' %>&nbsp;&nbsp;
		<%= link_button "Kladder", answer_status_path(@group, [4]), "button status_draft", :class => 'answer_state' %>&nbsp;&nbsp;
		<%= link_button "Besvarede", answer_status_path(@group, [5,6]), "status_answered", :class => 'answer_state' %>&nbsp;&nbsp;

		<%= link_button "Alle", answer_status_path(@group, [1,2,3,4,5,6]), "button status_all", :class => 'answer_state' %>&nbsp;&nbsp;
		
		<%# link_button "Rykket", answer_status_path(@group, [7]), "status_reminder", :class => 'answer_state' %>&nbsp;&nbsp;
		<%# link_button "Afsluttet", answer_status_path(@group, [8]), "status_finished", :class => 'answer_state' %>&nbsp;&nbsp;
		<br/>

		<input type="hidden" name="selected_state" class="selected_state" value="<%= @answer_state %>" />

	</span>
	<br/>
	<span class="commands">
		<a class="button download_excel_file" href="javascript:void(0);" onclick="generate_file(<%= @group.id %>)" >
			<span class="download_excel_file"><%= t('export.entry_status') %></span></a>
	</span>

	<div id="export_file"></div>


	<div id='filter_fields' style="display:none;"> <!-- Flyt ovenover hvis det skal bruges-->

	<h3>Besvaret mellem</h3>
	<label for='start_date'>Startdato</label>
	<%= select_date(@start_date, :prefix => 'start_date', :order => [:day, :month, :year], :start_year => (@start_date.year), :end_year => @stop_date.year ) %>
	<br>
	<label for='stop_date'>Slutdato</label>
	<%= select_date(@stop_date, :prefix => 'stop_date', :order => [:day, :month, :year], :start_year => (@stop_date.year), :end_year => @start_date.year ) %>
	<br>

	<span style="padding: 3px;" id='send_form' class="btn-submit">
		<span id='filter'>
			<%= link_button_to_remote("Filtrer", 'filter', :submit => "filter_fields", :method => 'get', :url => {:action => :show, :id => @group}) %>
		</span>
	</span>
</div>


<div class="team_journals" id="team_journals">
	<h3>Journaler</h3>
	</p>
	
	<% if @journal_entries.empty? %>
	<%= t('none') %>
	<% elsif @journal_entries.nil? %>
		Antal: <%= @journal_entries_count %>
	<% else %>
	<% @hide_team = true %>
	<div id="journal_entries">
		<% if !@is_answered %>
		<a class="button status_all" href="javascript:void(0);" onclick="update_reminder_status(<%= @group.id %>)" >
		<span class="">Marker som </span></a>
		<select id="reminder_status" name="reminder_status">
			<option value=""></option>
			<option value="Rykket">Rykket</option>
			<option value="Afsluttet">Afsluttet</option>
		</select>
		<% end %>
		<%= render :partial => 'entries', :locals => {:hide_team => true} %>
	</div>
	<%# render :partial => 'shared/ajax_pagination' %>
	<% end %>
	<% end %>
</div>

<div class="commands">
	<%= back_button team_path(@group) %>
</div>


<script type="text/javascript">
$$('.tabs').each(function(tab_group){  
	new Control.Tabs(tab_group);  
});

Event.observe(window, 'load', function() {
	$$('.answer_state').each(function(e) {
		e.observe('click', function(element) {
			var selected_state = e.href;
			//alert("hello: " + selected_state);
			console.log("setting selected: " + selected_state);
			$$("[name='selected_state']")[0].setValue(selected_state);
		});
	});
	var select_all_box = $('select_all_box');
	if (select_all_box) {
		var checkboxes = select_all_box.up('form').getInputs('checkbox');
		checkboxes.shift(); // throw out select all box

		select_all_box.observe('click', function() {
			checkboxes.each(function(e) {
				e.checked = select_all_box.checked;
			});
		});
	}
});

function generate_file(id) {
	var state = $$("[name='selected_state']")[0].value;
	new Ajax.Request('/reminders/generate_file/' + id, {
  		method:'post',
  		parameters: {id: id, state: state},
  		onSuccess: function(transport) {
  			eval(response);
  		},
  		onFailure: function() { alert('Something went wrong...'); }
	});
}
</script>