<%= javascript_include_merged :base %>
<%= stylesheet_link_merged :base %>
<p />

<% form_tag :controller => 'survey_builder', :action => :save_question, :id => @survey do %>

<%- row_no = 1  # used by after choice examples
    col_no = 1 %>
    
Question no: <%= text_field("question" , :number, { :value => @survey.new_question_number, :size => 2 }) %>
<table class="question" border="1">
  <tbody id="questionbody">
<%=
	contents = ""
	1.upto(4) do |i|
	    row_no += 1
		contents << "\t<tr id='row#{i}' class='row'>\n"
		contents << "\t\t<TD class='item' id='item#{i}'>" << text_field("row#{i}", ("answeritem"), { :value => i, :size => 1 }) << # answer_item(i)
		  "</TD>"
		1.upto(4) do |j|
		    col_no += 1
			contents << "\n\t\t" << "<td id='cell#{i}_#{j}' class='cell'>" << "\n\t\t\t" << q_item(i, j) 
			contents << "\n\t\t</td>"
		end
		contents << "\n\t</tr>\n"
	end
	contents
	%>
</tbody>
</table>

<div id="actions">
	<%= link_to_remote "Add row", :url => { :controller => 'survey_builder', :action => :add_question_row} %>
    <%= link_to_remote "Delete row", :url => { :controller => 'survey_builder', :action => :delete_question_row} %>
	<br>
	<%= link_to_remote "Add column", { :url => { :controller => 'survey_builder', :action => "add_question_column" } }, { :class => "ie_action" } %>
    <%= link_to_remote "Delete column", { :url => { :controller => 'survey_builder', :action => "delete_question_column" } }, { :class => "ie_action" } %>
</div>

<br>

<br>
  <%= submit_tag 'Tilføj spørgsmål', :class => 'btn_gray' %>
<% end %>

<%= link_to "Gå tilbage", :controller => :survey, :action => "index" %>

<p>
<p>
<% # link_to "Se vejledning", { :action => :man_opret_spg' }, { :target => 'new } %>

<br><br>
