<%= error_messages_for 'score' %>

<!--[form:score]-->
<table class="score_info">
	<tr>
		<td class="t_i"><label for="score_name">Symptom:</label></td>
		<td class="t"><%= text_field "score", "title" %></td>
	</tr>
	<tr>
		<td class="t_i">Skema:</td>
		<td class="t"
		<% if @score.action =~ /new|edit/ %>
			<%= render :partial => "shared/edit_survey" %>
		<% else %>

			<%= if @score.survey.nil? 
				"Ingen" 
			else
				out = ["&nbsp;&nbsp;"]
				out << "<span class='survey_color_box' style='background: ##{@score.survey.color};'>#{@score.survey.title}</span>"
				# out << "<br>" << link_to('Vælg andet skema', { :action => :edit_survey, :id => @score.id })
				out.join
			end %>
			
		<% end %>
		</td>
	</tr>
	<tr>
		<td class="t_i"><label for="score_sum">Pointtælling:</label></td>
		<td class="t_i"><%= select 'score', 'sum', @score.sum_types.to_a %></td>
	</tr>
	<tr>
		<td class="t_i"><label for="score_sum">Skala:</label></td>
		<td class="t_i"><%= select 'score', 'score_scale_id', @score.scales.to_a %></td>
	</tr>
</table>
<p><br>
	
	<!-- Score references -->
	<p>
		<div id="update_refs"></div>

		<% unless @score.action == "new" %>
		<b>Referenceværdier</b>

		<% unless @score.survey.nil? %>
			<% if @score.score_refs.empty? %>
				<table id="score_refs">
					<tr>
					<%= @score_refs_header.map { |h| "<th>#{h}</th>" }.join	%>
					</tr>
				</table>
					<!-- Ingen scoreberegninger -->				
			<% else %>
				<table id="score_refs">
					<tr>
					<%= @score_refs_header.map { |h| "<th>#{h}</th>" }.join	%>
					</tr>
				 	<%= render :partial => "score_ref", :collection => @score.score_refs %>
				</table>
			<% end %>


		<div id="new_score_ref_button">
			<%= link_button_to_remote t('score.add_ref'), 'add', :url => new_score_ref_path(@score), :failure => "alert('HTTP Error ' + request.status + '!')"  %>
		</div>
		

		<% end %>
		<% end %>
	</p>
	<br>

	<!-- score items -->
	<p>
		<div id="update_items"></div>

		<% unless @score.action == "new" %>
		<b>Svaritems</b>

		<% unless @score.survey.nil? %>
			<% if @score.score_items.empty? %>
				<table id="score_items">
					<%= @score_items_header.map { |h| "<th>#{h}</th>" }.join	%>
				</table>
					<!-- Ingen scoreberegninger -->
				
			<% else %>
				<table id="score_items">
					<%= @score_items_header.map { |h| "<th>#{h}</th>" }.join	%>
				 	<%= render :partial => "score_item", :collection => @score.score_items %>
				</table>
			<% end %>


		<div id="new_score_item_button">
			<%= link_button_to_remote t('score.add_item'), 'add', :url => new_score_item_path(@score), :failure => "alert('HTTP Error ' + request.status + '!')"  %>
		</div>
		

		<% end %>
		<% end %>
	</p>

		<h4>Params</h4> <%= debug(params) %> 

				<div id="debug">
				</div>
				<script type="text/javascript">
				    //     Ajax.Responders.register({
				    //     // log the beginning of the requests
				    //     onCreate: function(request, transport) {
				    //     new Insertion.Bottom('debug', '<p><strong>[' + new Date().toString() + '] ifng ' + request.url + '</strong></p>')
				    //     },
				    // 
				    //     // log the completion of the requests
				    //    onComplete: function(request, transport) {
				    //    new Insertion.Bottom('debug',
				    //     '<p><strong>http status: ' + transport.status + '</strong></p>' +
				    //     '<pre>' + transport.responseText.escapeHTML() + '</pre>')
				    //  }
				    // });
				 </script>


		<!--[eoform:score]-->