<% scale_id = "scale_#{@scale.id}" %>
<div>
	<li id="scale_<%= @scale.id %>" ><%= @scale.title %></li>
	
	<ol class="scales" id="scale_<%= @scale.id %>">
		<% @scores.each do |@score| %>
			<%= render :partial => "score" %>
		<% end %>
	</ol>
	<% if current_user.has_access? :score_edit %>
		<%= link_to 'Organiser liste', :action => 'order_scores', :id => @scale %>
	<% end %>
	
</div>
