<% @score_ref = show_score_ref %>
<tr>
	<td><%= @score_ref.sex_text %></td>
	<td><%= @score_ref.age_group %></td>
	<td><%= @score_ref.mean %></td>
	<td><%= @score_ref.percent95 %></td>
	<td><%= @score_ref.percent98 %></td>
</tr>
