<% @subtitle = "Vælg spørgeskema der skal bruges til scoreberegning" %>

<h3>Vælg spørgeskema til score-beregning <%= @score.title %></h3>

<% form_tag :action => :edit_survey do %>

<dl>
	<dt><%= @subtitle %></dt>
	<dd>
		<%= render :partial => "shared/edit_survey" %>
	</dd>
</dl>


<%= submit_tag "Skift", :name => 'submit[update]', :class => 'btn_gray' %>
<%= link_to t('go_back'), { :action => :edit, :id => @score }, :title => t('go_back_to_journal') %>

<% end %>