<h1>Liste af scoreberegninger</h1>

<table id="score_list" class="sortable list">
  <tr>
	<th title="Sorter efter score">Score</th>
  <th title="Sorter efter skema">Skema</th>
	<th title="Sorter efter skala">Skala</th>
	<th class="nosort"><%= t('action') %><!-- Beregning --></th>
  </tr>
  
<% for score in @scores %>
  <tr>
    <td><%=h score.title %></td>
    <td><%=h score.short_name %> <%= score.survey.age %></td>
		<td><%=h (score.score_scale && score.score_scale.title || "") %></td>
<!--	<td> output = score.calculation.gsub(/\r/, "</br>") </td> -->

	
    <td><%= link_to t('show'), score_path(score) %>&nbsp;
    <%= link_to t('edit'), edit_score_path(score) %>&nbsp;
    <%= link_to t('delete'), score_path(score), :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @scores.total_pages > 1 -%>
	<div class="page_entries"><%= page_entries_info(@scores) -%></div>
	<%= will_paginate @scores, :remote => {:with => 'value', :update => 'score_list'} -%>
<% end -%>
<br>
<br>

<%= link_to 'Ny scoreberegning', new_score_path %> | <%= link_to 'Scoreskalaer', score_scales_path %>
