<h2>Du er i gang med at besvare spørgeskemaet.</h2>
<p>
	Du kan fortsætte din besvarelse. Tryk på knappen nedenfor. 
</p>

<div class="was_survey_title" style=' border: 1px solid #<%= @survey.color %>; width: 834px; padding: 20px 0px 20px 20px; font-size: 16pt; background-color: #<%= @survey.color %>;' >
        <span class="survey_title"><%= link_button t('survey.continue_answer'), survey_url(@survey), 'survey_edit' %></span>
        <span style="font-size: 14pt;"><%= @survey.description %></span>
        <span>&nbsp;&nbsp;&nbsp;
                <% url = "/survey_#{@survey.id}.pdf" %>
                <%= link_to img_tag_html4("printer-42x.png", :align => "center", :border=>0, :alt => 'Udskriv sp??rgeskema', :class => "new_window", :title => 'Udskriv sp??rgeskema' ),
                        url, :onclick => "window.open(\"#{url}\"); return false;", :title => 'Udskriv sp??rgeskema' %></span>


<br>
<%= link_button t('finish'), logout_path, 'logout', :format => 'html', :title => 'Log ud af systemet' %>
