<h2>Tak fordi du besvarede spørgeskemaet</h2>

<p>
	Du kan udskrive besvarelsen før du logger af.
	<% if @can_update_answer %>
	 		Vil du rette eller udskrive din besvarelse, kan du logge ind igen indtil <%= I18n::localize(@update_date, :format => "%A %e. %B") %>.
	<% end %>
</p>

<div class="was_survey_title" style=' border: 1px solid #<%= @survey.color %>; width: 750px; padding: 20px 0px 6px 20px; font-size: 14pt; background-color: #<%= @survey.color %>;' >
	<span class="survey_title"></span>
	<span style="font-size: 14pt;"><%= @survey.description %></span>
	<p style="font-size: 12pt; padding-top: 20px; padding-bottom: 0px">
		<%= link_button t('survey.print'), (survey_answer_path(@journal_entry) + ".pdf"), 'survey_print', :title => 'Udskriv besvarelse' %>&nbsp;&nbsp;
		<% if @can_update_answer %>
			<%= link_button t('survey.change_answer'), survey_path(@survey), 'survey_edit' %>
		<% end %>
	</p>
</div>

<p>Du kan nu logge af.<p/>
<br>
<span style="font-size: 14pt; ">
	<%= link_button t('finish'), logout_path, 'logout', :title => 'Log ud af systemet' %>
</span>