
<h2><%= t('user.user') %> &quot;<%= h @user.login %>&quot;</h2>

<!-- <h3>Bruger Data</h3> -->

<dl>
    <dt><%= t('name') %></dt>
    <dd><%= h @user.name %></dd>

    <dt><%= t('login.login') %></dt>
    <dd><%= h @user.login %></dd>

    <dt><%= t('email') %></dt>
    <dd><%= h @user.email %></dd>

    <dt><%= t('id') %></dt>
    <dd><%= @user.id %></dd>

    <dt><%= t('created') %></dt>
    <dd><%= @user.created_at.to_formatted_s(:long) %></dd>

    <dt><%= t('updated') %></dt>
    <dd><%= @user.updated_at.to_formatted_s(:long) %></dd>

    <dt><%= t('last_login') %></dt>
    <dd><%= @user.last_logged_in_at.to_formatted_s(:long) %></dd>

    <dt><%= t('state') %></dt>
    <dd><%= @user.status %></dd>
</dl>

<h3><%= t('roles') %></h3>

<% if @user.roles.empty? %>
    <p><%= t('no_roles') %></p>
<% else %>
	<% roller = []
	   @roles = @user.roles %>
	<%= render :partial => "shared/roles" %>
<% end %>

<h3><%= t('groups') %></h3>

<% if @user.groups.empty? %>
    <p><%= t('no_groups') %></p>
<% else
 		@groups = @user.groups %>
	<%= render :partial => 'shared/show_groups' %>
<% end %>


<% if current_user.access? :role_show_all %>
    <h3>Alle tildelte roller</h3>
	<% @roles = @user.all_roles %>
    <% if @roles.empty? %>
        <p><%= t('no_roles') %></p>
	<% else %>
	<%= render :partial => "shared/roles" %>
	<% end %>
<% end %>


<div class="commands">
<% if current_user.access? :user_edit_delete %>
		<%= link_button t('delete'), delete_user_path(@user), 'user_delete' %>
		<%= link_button t('edit'), edit_user_path(@user), 'user_edit' %>
<% end %>
	<%= back_button users_path %><br/>
</div>
