<h2><%= t('user.user') %> &quot;<%= h @user.login %>&quot;</h2>

<ul class="tabs" id="subscription_tabs" class="center_tabs">  
	<li class="tab"><a href="#info">Info</a></li>  
	<li class="tab"><a href="#user_teams">Teams</a></li> 
</ul>
<div class="tab_canvas" id="tab_canvas_<%= @user.id %>">
	<br/>

<div class="user_info" id="info">
	<table class="user_info">
		<tr>
			<td class="u_i"><%= t('name') %>:</td>
			<td class="u"><%= @user.name %></td>
		</tr>
		<tr>
			<td class="u_i"><%= t('user.Login') %>:</td>
			<td class="u"><%= @user.login %></td>
		</tr>
		<tr>
			<td class="u_i"><%= t('user.email') %>:</td>
			<td class="u"><%= @user.email  %></td>
		</tr>
		<tr>
			<td class="u_i"><%= t('user.id') %>:</td>
			<td class="u"><%= @user.id %></td>
		</tr>
		<tr>
			<td class="u_i"><%= t('status.created') %>:</td>
			<td class="u"><%= @user.created_at.to_formatted_s(:long) %></td>
		</tr>
		<tr>
			<td class="u_i"><%= t('user.last_login') %>:</td>
			<td class="u"><%= @user.last_logged_in_at.to_formatted_s(:long) %></td>
		</tr>
		<!-- <tr>
			<td class="u_i"><%= t('user.State') %>:</td>
			<td class="u"><%= @user.state != 2 && @user.status.upcase || @user.status.capitalize %></td>
		</tr> -->
	</table>

	<h3><%= t('roles.Roles') %></h3>

	<% if @user.roles.empty? %>
	    <p><%= t('no_roles') %></p>
	<% else %>
		<% roller = []
		   @roles = @user.roles %>
		<%= render :partial => "shared/roles" %>
	<% end %>


	<% if current_user.access? :role_show_all %>
	    <h3>Alle tildelte roller</h3>
		<% @roles = @user.all_roles %>
	    <% if @roles.empty? %>
	        <p><%= t('no_roles') %></p>
		<% else %>
		<%= render :partial => "shared/roles" %>
		<% end %>
	<% end %>
</div>


<div class="user_teams" id="user_teams">

<h3><%= t('team.teams') %></h3>
<% if @user.groups.empty? %>
    <p><%= t('no_groups') %></p>
<% else
 		@groups = @user.groups %>
		<%= render :partial => "shared/group_list" %>
<% end %>
<p/>
</div>



<script type="text/javascript">
$$('.tabs').each(function(tab_group){  
	new Control.Tabs(tab_group);  
});
</script>

<div class="commands">
<% if current_user.access? :user_edit_delete %>
		<%= link_button t('delete'), delete_user_path(@user), 'user_delete' %>
		<%= link_button t('edit'), edit_user_path(@user), 'user_edit' %>
<% end %>
	<%= back_button users_path %><br/>
</div>
