	<table class="center_info">
		<tr>
			<td class="t_i"><%= t('center.name') %>:</td>
			<td class="t"><%=h @group.title %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.code') %>:</td>
			<td class="t"><%=h @group.code %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.address') %>:</td>
			<td class="t"><%=h @group.street %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.city') %>:</td>
			<td class="t"><%=h @group.zipcode %> <%=h @group.city %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.phone') %>:</td>
			<td class="t"><%=h @group.telephone %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.contactperson') %>:</td>
			<td class="t"><%=h @group.person %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.companynumber') %>:</td>
			<td class="t"><%=h @group.ean %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('letter.login') %>:</td>
			<td class="t">
				<% if @group.letters.any? %>
					<%= link_to t('letter.letters'), letters_path %>
				<% else %>
					<%= link_button t('letter.new'), new_letter_url(@group), 'letter', :title => t('letter.new') %>
				<% end %>
			</td>
		</tr>

	<% if @team_count == 0 %>
		<tr>
		<td class="t_i commands">
			JournalHandlinger:
		</td>
		<td class="t">
			<a class="bigbutton" title="Flyt journaler" href="/journals/select_move/<%= @group.id %>"><span class="move_journals">Flyt journaler</span></a>
			<a class="bigbutton" href="/reminders/<%= @group.id %>" title="Status besvarelser"><span class="reminders">Status besvarelser</span></a>
			<a class="bigbutton" title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= @group.id %>.csv" title="Eksporter brevfletningsdata"><span class="lettermix">Hent brevfletninger</span></a>
		</td>
	</div>
	</tr>
	<% end %>

	</table>