	<table class="center_info">
		<tr>
			<td class="t_i"><%= t('center.name') %>:</td>
			<td class="t"><%=h @group.title %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.code') %>:</td>
			<td class="t"><%=h @group.code %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.address') %>:</td>
			<td class="t"><%=h @group.street %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.city') %>:</td>
			<td class="t"><%=h @group.zipcode %> <%=h @group.city %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.phone') %>:</td>
			<td class="t"><%=h @group.telephone %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.contactperson') %>:</td>
			<td class="t"><%=h @group.person %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('center.companynumber') %>:</td>
			<td class="t"><%=h @group.ean %></td>
		</tr>
		<tr>
			<td class="t_i"><%= t('letter.login') %>:</td>
			<td class="t">
				<% if @group.letters.any? %>
					<%= link_to t('letter.letters'), letters_path %>
				<% else %>
					<%= link_button t('letter.new'), new_letter_url(@group), 'letter', :title => t('letter.new') %>
				<% end %>
			</td>
		</tr>

	<% if @team_count == 0 %>
		<tr>
		<td class="t_i commands">
			JournalHandlinger:
		</td>
		<td class="t">
			<span class="action wide actions">
				<a title="Flyt journaler" href="/journals/select_move/<%= @group.id %>"><img border="0" title="Flyt journaler" src="/images/document_move_24.png?" class="icon" alt="Flyt journaler"></a>
			</span>
			<a href="/reminders/<%= @group.id %>"><img border="0" title="Status besvarelser" src="/images/traffic-light_24.png" class="icon" alt="Status besvarelser"></a>
			<a title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= @group.id %>.csv"><img border="0" title="Eksporter brevfletningsdata" src="/images/documents_email_24.png" class="icon" alt="Documents_email_24"></a>
		</td>
	</div>
	</tr>
	<% end %>

	</table>