<h2><%= @page_title %></h2>

<% form_tag center_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Rediger Center", :class => 'btn_gray' %>
<% end %>

<%= link_to t('show'), center_path(@group), :title => t('show') %> |
<%= link_to t('go_back'), centers_path, :title => t('go_back') %>
