<h2><%= @page_title %></h2>

<% form_tag center_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Rediger Center", :class => 'btn_gray' %>
<% end %>

<%= link_to 'Vis', center_path(@group), :title => 'Vis' %> |
<%= link_to 'Tilbage', centers_path, :title => 'Tilbage' %>
