<h2><%= @page_title %></h2>

<% form_tag center_path(@group), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t('center.edit'), :class => 'btn_gray' %>
<% end %>

<%= link_button t('show'), center_path(@group), 'center_show', :title => t('show') %> |
<%= link_button t('go_back'), centers_path, 'go_back', :title => t('go_back') %>
