<h2><%=h @group.title %></h2>

<ul class="tabs" id="subscription_tabs" class="center_tabs">
<li class="tab"><a href="#info">Info</a></li>
<li class="tab"><a href="#center_teams"><%= t('menu.teams') %></a></li>
<li class="tab"><a href="#center_users"><%= t('menu.users') %></a></li>
<% if show_journals? %>
<li class="tab"><a href="#center_journals"><%= t('menu.journals') %></a>
<% end %>
<li class="tab"><a href="#center_subscriptions"><%= t('menu.subscriptions') %></a></li>
</ul>
<div class="tab_canvas" id="tab_canvas_<%= @group.id %>">
<br/>

<div class="center_info" id="info">
<%# = @centeradmins.map &:name %>
<%= render :partial => 'info' %>
</div>

<div class="center_teams" id="center_teams">
<% if current_user.access? :center_show_teams %>
<%= render :partial => 'shared/group_list', :locals => {:groups => @group.teams} %>
<% end %>
<div class="button">
<%= link_button t('team.new'), new_team_in_center_path(@group), 'team_new', :title => t('team.new') %>
</div>	

<%= render :partial => 'commands' %>
</div>

<div class="center_users" id="center_users">
<% localadmins = @users.select { |u| u.has_access? :centeradm } %>
<h3>Centeradministrator<%= !localadmins.empty? ? "er" : " " %></h3>

<% if localadmins.empty? %>
<p>Ingen</p>
<% if current_user.access? :user_new_leader %>
<div class="commands">
<%= link_button t('user.center.admin'), new_user_path(@group), 'center_admin_new', :title => t('user.new') %><br>
</div>
<% end %>
<% else %>
<ul>
<% for user in localadmins %>
<li><%= link_to user.login, user_path(user), :title => t('user.show') %></li>
<% end %>
</ul>
<% end %>
<%= render :partial => 'shared/users' %>
</div>

<% if show_journals? %>
<div class="center_journals" id="center_journals">
<%= render :partial => 'shared/journals' %>
</div>
<% end %>

<div class="center_subscriptions" id="center_subscriptions">
<%= render :partial => 'subscriptions' %>
</div>


</div>

<script type="text/javascript">
$$('.tabs').each(function(tab_group){
new Control.Tabs(tab_group);
});
</script>

<br/>
<div class="commands">
<% if current_user.access? :center_delete %>
<%= link_button t('delete'), { :action => :delete, :id => @group }, 'center_delete', :title => t('center.delete') %>
<%= link_button t('edit'), edit_center_path(@group), 'center_edit', :title => t('center.edit') %>
<% end %>
<%# back_button centers_path %>
</div>