<h2>Detaljer for Center &quot;<%=h @group.title %>&quot;</h2>

<ul class="tabs" id="subscription_tabs" class="center_tabs">  
	<li class="tab"><a href="#info">Info</a></li>  
	<li class="tab"><a href="#center_teams">Teams</a></li> 
	<li class="tab"><a href="#center_users">Brugere</a></li> 
	<li class="tab"><a href="#center_subscriptions">Abonnementer</a></li>
</ul>
<div class="tab_canvas" id="tab_canvas_<%= @group.id %>">
	<br/>

<div class="center_info" id="info">
	<%= render :partial => 'info' %>
</div>

<div class="center_teams" id="center_teams">
	<% if current_user.access? :center_show_teams %>
		<%= render :partial => 'teams' %>
		<% end %>
	<div class="button">
		<%= link_button t('team.new'), new_team_path(@group), 'team_new', :title => 'Opret nyt team' %> 
	</div>	

	<div style="width: 80%; clear: left;"></div>
	<%= render :partial => 'commands' %>
</div>

<div class="center_users" id="center_users">
	<%= render :partial => 'users' %>
</div>


<div class="center_subscriptions" id="center_subscriptions">
<%= render :partial => 'subscriptions' %>

</div>


</div>

<script type="text/javascript">
$$('.tabs').each(function(tab_group){  
	new Control.Tabs(tab_group);  
});
</script>

<br/>
<div class="commands">
	<% if current_user.access? :center_delete %>
	<%= link_button t('delete'), { :action => :delete, :id => @group }, 'center_delete', :title => t('center.delete') %>
	<%= link_button t('edit'), edit_center_path(@group), 'center_edit', :title => t('center.edit') %>
	<% end %>
	<%= link_button t('go_back_to_list'), centers_path, 'go_back', { :title => t('go_back_to_list') } %>
</div>