	<img src="/images/journal_48.png" border=0 align="middle" />
		<span class="h3">Journaler</span><p>
	<p>
	Tryk på en kolonne for at sortere tabellen.
	</p>
	
	<% if @journals.empty? %>
		<%= t('none') %>
	<% else %>
	<% @hide_team = true %>
	<div id="journals">
		<%= render :partial => 'shared/journal_list', :locals => {:hide_team => true, :journals => @journals} %>
	</div>
	
	<% if params[:action] =~ /search/ %>
		<div style='align: right;'><b><%= @journals.size %></b> resultat<%= 'er' if @journals.size > 1 %></div>
	<% else %>
		<% if @journals.total_pages > 1 -%>
			<div class="page_entries"><%= page_entries_info(@journals) -%></div>
			<% 
		 		if @group
					params[:controller] = '/journals'
					params[:action] = 'center'
					params[:id] = @group.id
					# params[:ajax] = true
				end
				%>
			<%= will_paginate @journals, :remote => { :with => 'value', :update => 'journal_list' } -%> &nbsp;&nbsp;
		<% end -%>
	<% end %>
	<%# render :partial => 'shared/ajax_pagination' %>

	<% if @group %>
	<p>
		<div class="commands">
			<br/>
			<% if current_user.access? :journal_new_edit_delete %>
			<%= link_button(t('journal.new'), new_journal_path(@group), 'journal_add', :title => 'Opret Journal') %>
			<%# link_button("Handling på flere", select_journals_path(@group), 'bulk_edit', :title => 'Udfør en handling på flere journaler') %>
			<% end %>
			<%= link_button t('export.logins'), export_login_path(@group.id), 'export_logins', :class => "mini", :title => 'Eksporter logins til Excel' %>
			<br/>
			<% if @group.parent && @group.parent.teams.size > 1 %>
			<%= link_button t('team.move'), select_move_journals_path(@group), 'journal_move', :class => "mini", :title => t('team.move') %>
			<% end %>
			<%= link_button t('export.journal_letter_data'), export_journals_path(@group, :format => 'csv') +".csv", 'export_logins', :title => 'Eksporter brevfletningsdata' %>

			<%= link_button t('journal.status'), reminder_path(@group), 'journal_status', :class => "mini", :title => t('journal.status') %>
			<p/>
		</div>
	</p>
	<% end %>
<% end %>