<% if @groups.empty? %>
Der er ingen journaler i systemet.
<% else %>
<table id="journal_list" class="sortable list">
	<tr>
<th class="wide sortcol sortdesc" title="Sorter efter navn">Navn</th>
<th title="Sorter efter Id" class="sortcol">Id</th>
<th title="Sorter efter fødselsdato" class="sortcol date-eu">Fødselsdato</th>
<th title="Sorter efter oprettelsesdato" class="sortcol date-eu"><%= t('status.created') %></th>
<% unless @hide_team %>
<th class="half_wide" title="Sorter efter team"><%= any_teams_text %></th>
<% end %>
<th class="nosort"><%= t('action') %></th>
</tr>

<% @groups.each do |g| %>
  <tr>
    <td class="pj_name"><a href="<%= url_for(g) %>"><%= g.title %></a></td>
		<td class="pj small number"><%= g.code %></td>
    <td class="pj small"><span class="nobr"><%= g.birth_short %></span></td>
    <td class="pj small"><span class="nobr"><%= g.created_at.to_date.strftime("%d-%m-%Y") %></span></td>
		<% unless @hide_team %>
    <td class="pj" style="text-align: left;"><%= @hide_team %> <%= g.parent.title %></td>
		<% end %>
    <td class="pj">
			<%= link_to_icon 'journal_edit.png', edit_journal_url(g), :title => t('journal.edit') %>
			<%= link_to_icon 'journal_delete.png', delete_journal_url(g), :title => t('journal.delete') %>      
    </td>
  </tr>
<% end %>
</table>
<% end %>

<% if params[:action] =~ /search/ %>
	
	<div style='align: right;'><b><%= @groups.size %></b> resultat<%= 'er' if @groups.size > 1 %></div>
<% else %>
	<% if @groups.total_pages > 1 -%>
		<div class="page_entries"><%= page_entries_info(@groups) -%></div>
		<%= will_paginate @groups, :remote => {:with => 'value', :update => 'journal_list'}  -%> &nbsp;&nbsp;
	<% end -%>
<% end %>
