	<h3>Journaler</h3>
	<% if @groups.empty? %>
		<%= t('none') %>
	<% else %>
	<% @hide_team = true %>
	<div id="journals">
		<%= render 'shared/journal_list', :locals => {:hide_team => true} %>
	</div>
	
	<%# render :partial => 'shared/ajax_pagination' %>

	<% end %>
		
	<p>
		<div class="commands">
			<br/>
			<% if current_user.access? :journal_new_edit_delete %>
			<%= link_button(t('journal.new'), new_journal_path(@group), 'journal_add', :title => 'Opret Journal') %>
			<% end %>
			<%= link_button t('export.logins'), export_logins_path(@group, 'csv') +".csv", 'export_logins', :title => 'Eksporter logins til Excel' %>
			<% if @group.parent && @group.parent.teams.size > 1 %>
			<%= link_button t('team.move'), select_journals_path(@group), 'journal_move', :title => t('team.move') %>
			<% end %>
			<p/>
		</div>
	</p>
