<% user = @user
 %>
  <tr>
    <td class="users"><%=h user.login %></td>
    <td class="users"><%=h t("roles.#{user.roles.first.title}") unless user.roles.empty? %></td>
    <td class="users"><%=h user.email %></td>
    <td class="users"><%= case user.state
            when 1 then 'unconfirmed'
            when 2 then 'confirmed'
            when 3 then 'locked'
            when 4 then 'deleted'
            end
            %></td>
    
    <td class="users" class="actions">
      (<%= link_to t('show'), {:action => :show, :id => user }, :title => t('show') %>
       <%= link_to t('edit'), { :action => :edit, :id => user }, :title => t('edit') %>
       <%= link_to t('delete'), { :action => :delete, :id => user}, :title => t('delete') %>)
    </td>
  </tr>
