<% if @options %>
	<% buttons = {"all" => "Alle", "active" => "Aktive", "paid" => "Betalte"} %>
	<% buttons.each { |key, name| buttons[key] = "<strong class='highlight'>#{name}</strong>" if @options && @options[:show] == key } 	%>
	<% buttons.each do |action, name| %>
		<%= link_to name, :show => action %>
		<% end %>
<% end %>

<table class="sortable list">
	<tr>
		<th>Periode</th>
		<th class="number">Brugte skemaer</th>
		<th>Betalt</th>
	</tr>
<%
total_used = 0
@copies.each do |tuple|
	date = tuple.first
	copies = tuple.last
	paid = copies.select(&:consolidated).size
	end_period = copies.first.consolidated_on || Time.now.to_date
	used_copies = copies.map(&:used).inject { |sum, n| sum + n }
	total_used += used_copies %>
	<tr>
		<td><%= date.to_formatted_s(:short) %> - <%= end_period.to_formatted_s(:short) %></td>
		<td class="number"><%= used_copies %></td>
		<td class="number"><%= paid > 0 ? "Ja" : "Nej" %></td>
	</tr>
<% end %>

<tr>
	<td>Total:</td><td></td><td class="number"><%= total_used %></td>
</tr>

</table>
