<% @summaries = @subscription_presenter.summary_view %>

<% if @options %>
	<% buttons = {"all" => "Alle", "active" => "Aktive", "paid" => "Betalte"} %>
	<% buttons.each { |key, name| buttons[key] = "<strong class='highlight'>#{name}</strong>" if @options && @options[:show] == key } 	%>
	<% buttons.each do |action, name| %>
		<% link_button name, {:show => action}, "subscription_#{action}" %>
		<% end %>
<% end %>

<table class="sortable list">
	<tr>
		<th>Periode</th>
		<th class="number">Brugte skemaer</th>
		<th>Betalt</th>
		<!-- <th>Brugt siden sidst<br/>(ikke betalt)</th> -->
	</tr>
	<% 
	@summaries.each do |summary|
		stopped_on = (summary[:stopped_on] || Time.now).to_date
	%>
	<tr>
		<td><%= summary[:start_on].to_date.strftime("%e %b %y") %> - <%= stopped_on.strftime("%e %b %y") %></td>
		<td class="number"><%= summary[:used] %></td>
		<td class="number"><%= summary[:paid] %></td>
		<!-- <td class="number"><% summary[:active] %></td> -->
	</tr>
	<% end %>
	<tr>
		<td>Total:</td>
		<td class="number"><%= @summaries.map {|b| b[:total_used] }.first %></td>
	</tr>
</table>
