<% if @teams.any? %>
<table class="sortable list" class="groups">
	<tr>
		<th class="wide" title="Sorter efter navn">Team</th>
		<th title="Sorter efter SKS-kode">ID</th>
		<th class="nosort">Journalhandling</th>
		<% if current_user.access? :show_column_actions %>
		<th title=""><%= t('action') %></th>
		<% end %>
	</tr>	

	<% @teams.each do |group| %>
	<tr>
		<td><%= link_to( group.title, group.is_a?(Team) && team_path(group) || center_path(group),	:title => "Vis #{group.class.to_s}" ) %></td>
		<td><%= group.code %></td>
		<!-- <td style="text-align: right;"><%# group.users.size %></td> -->
		
		<td>
			<span class="action wide actions">
				<a title="Flyt journaler" href="/journals/select_move/<%= group.id %>"><img border="0" title="Flyt journaler" src="/images/document_move_24.png?" class="icon" alt="Flyt journaler"></a>
				<%# link_to img_tag_html4('document_move_24.png', :border => 0, :class => 'icon', :title => t('team.move'), :alt => t('team.move')), select_move_journals_path(group), :title => t('team.move') %>
			</span>
			<span class="action">
				<a href="/reminders/<%= group.id %>"><img border="0" title="Svarstatus" src="/images/traffic-light_24.png" class="icon" alt="Svarstatus"></a>
				<a title="Eksporter brevfletningsdata" href="/journals/export_mails/<%= group.id %>.csv"><img border="0" title="Eksporter brevfletningsdata" src="/images/documents_email_24.png" class="icon" alt="Documents_email_24"></a>
				<%# link_to img_tag_html4('traffic-light_24.png', :border => 0, :class => 'icon', :title => t('journal.status'), :alt => t('journal.status')), reminder_path(group)  -%>
				<%# link_to img_tag_html4('documents_email_24.png', :border => 0, :class => 'icon', :title => t('export.journal_letter_data')), export_journals_path(group, :format => 'csv') +".csv", :title => 'Eksporter brevfletningsdata' %>

			<span class="action"></span>
		</td>
		<% if current_user.access? :center_delete %>
		<td>
			<a title="Rediger" href="/teams/<%= group.id %>/edit"><img border="0" title="Rediger team" src="/images/group_edit_24.png" class="icon" alt="Rediger team"></a>
			<a title="Slet" href="/teams/delete/<%= group.id %>"><img border="0" title="Slet team" src="/images/group_delete_24.png" class="icon" alt="Slet team"></a>
			<%# link_to img_tag_html4('group_edit_24.png', :border => 0, :class => 'icon', :title => 'Rediger team'), edit_team_path(group), :title => t('edit') -%>
			<%# link_to img_tag_html4('group_delete_24.png', :border => 0, :class => 'icon', :title => 'Slet team'), delete_team_path(group), :title => t('delete') -%>
		</td>
		<% end %>
		<tr/>
		<% end %>
</table>
<% end %>