<table id="user_list" class="sortable list" class="users">
	<tr>
	<th class="wide" title=<%= t('sort.name') %>><%= t('name') %></th>
	<th title="<%= t('sort.role') %>"><%= t('role') %></th>
	<% if current_user.has_access?(:user_view_status) %>
	<th title="<%= t('sort.state') %>"><%= t('state') %></th>
	<% end %>
	<th title="<%= t('sort.group') %>"><%= t('groups') %></th>
	<% if current_user.has_access? :user_edit_delete %>
	<th class="nosort" style="width: 75px;"><%= t('action') %></th>
	</tr>
	<% end %>

	<% @users.each do |user| %>
	<tr>
		<td><%= link_to( user.name, user_path(user), :title => t('user.show') ) %></td>
		<td><%= roles = user.roles.empty? ? " " : user.roles.first.title -%></td>
		<% if current_user.has_access?(:user_view_status) %>
		<td><%= h user.status %></td>
		<% end %>
		<% if current_user.has_access?(:user_show_teams) and !(groups = user.groups.teams).empty?
			   groups = groups.map { |g| g.title }.join(", ")
			 else
			 	 groups = user.center ? user.center.title : (user.centers.compact.empty? ? "" : user.centers.first.title)
   		 end -%>
		<td><%= groups %>&nbsp;</td>
	<% if current_user.has_access? :user_edit_delete %>
	<td>
		<%= link_to img_tag_html4('user_edit.png', :border => 0, :class => 'icon', :title => t('user.edit')), edit_user_path(user), :title => t('user.edit') -%>
		<%= link_to img_tag_html4('user_delete.png', :border => 0, :class => 'icon', :title => t('user.delete')), delete_user_path(user), :title => t('user.delete') -%>
		<span>&nbsp;&nbsp;</span>
		<% if current_user.has_access?(:shadow_login) and user.id != current_user.id %>
		<%= link_to img_tag_html4('door.png', :border => 0, :class => 'icon', :alt => t('shadow_login_alt')), shadow_login_path(user), :title => t('shadow_login_alt') %>
		<% end %>
	</td>
	<% end %>
	<tr/>
	<% end %>
</table>

<% if @users.total_pages > 1 -%>
	<div class="page_entries"><%= page_entries_info(@users) -%></div>
	<%= will_paginate @users, :remote => {:with => 'value', :update => 'user_list'}, :outer_window => 2 -%>
<% end -%>