<h2>Rediger Login-bruger <%=h @user.login %></h2>

<% form_tag :action => :update, :id => @user do %>
  <%= render :partial => 'form' %>

  <%= submit_tag "Anvend", :name => 'submit[update]', { :class => 'normal' } %>
<% end %>

<%= link_to t('show'), { :action => :show, :id => @user }, :title => 'Vis bruger' %> |
<%= link_to t('go_back'), { :action => :list }, :title => 'Liste af login-brugere' %>
