<h2>Liste af login-brugere</h2>

<div class="commands">
</div>

<table class="sortable" class="users">
<th title="Sorter efter login">Login</th>
<th title="Sorter efter e-mail">E-mail</th>
<th title="Sorter efter status"><%= t('state') %></th>
<th title="Sorter efter Rolle">Rolle</th>
<th title="Sorter efter journal">Journal</th>
<% if current_user.has_access? :show_column_actions %>
<th class="nosort"><%= t('action') %></th>
<% end %>

Antal users <%= @users.size %>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to( user.login, { :controller => "/"+user.class.to_s.underscore, :action => :show, :id => user.id },
        :title => "Vis #{user.class.to_s}" ) %></td>
    <td><%= user.email %></td>
    <td><%= user.status %></td>
	<td><%= roles = user.roles.empty? ? " " : user.roles.first.prettyname -%></td>
	<% groups = ""
       if !current_user.nil? and !current_user.groups.empty?
         user.groups.each { |g| groups += "\'" + g.title + "\' " }
       elsif current_user.has_access? :admin
         user.groups.each do |g| if g.instance_of? Center
                                   groups += "\'" + g.title + "\' "
                                 else
                                   groups += "\'" + g.parent.title + "\' "
                                 end
                          end
       end -%>
    <td><%=h groups %>&nbsp;</td>
    <% if current_user.has_access? :login_user_new_edit_delete %>
    <td><%= link_to img_tag_html4('icon_edit_user.gif', :border => 0, :class => 'icon', :title => 'Rediger login-bruger'), { :action => :edit, :id => user.id }, :title => t('edit') -%>
      <%= link_to img_tag_html4('icon_delete_user.gif', :border => 0, :class => 'icon', :title => 'Slet login-bruger'), { :action => :delete, :id => user.id}, :title => t('delete') -%>
    </td>
      <% end %>
  <tr/>
<% end %>
</table>




<div class="commands">

</div>

