<h2>Liste af Login-Brugere</h2>

<div class="commands">
<%= link_to 'Ny login-bruger', :action => :new %>
</div>

<%= render :partial => '/active_rbac/shared/pagination', :locals => { :pages => @user_pages } %>

<table class="users">
<thead>
  <tr>
    <th class="users" style="width: 50px;">id</th>
    <th class="users" style="width: 100px;">login</th>
    <th class="users" style="width: 100px;">email</th>
    <th class="users" style="width: 100px;">state</th>
    <th class="users" style="width: 50px;">&nbsp;</th>
  </tr>
</thead>
<tbody>
<% for user in @users %>
  <tr>
    <td class="users"><%= user.id %></td>
    <td class="users"><%=h user.login %></td>
    <td class="users"><%=h user.email %></td>
    <td class="users"><%= case user.state
            when 1 then 'unconfirmed'
            when 2 then 'confirmed'
            when 3 then 'locked'
            when 4 then 'deleted'
            end
            %></td>
    
    <td class="users" class="actions">
      (<%= link_to 'Vis', {:action => :show, :id => user }, :title => 'Show' %>
       <%= link_to 'Rediger', { :action => :edit, :id => user }, :title => 'Edit' %>
       <%= link_to 'Slet', { :action => :delete, :id => user}, :title => 'Delete' %>)
    </td>
  </tr>
<% end %>
</tbody>
</table>

<%= render :partial => '/active_rbac/shared/pagination', :locals => { :pages => @user_pages } %>


<div class="commands">
<%= link_to 'Ny bruger', :action => :new %>
</div>

