<div id="journals">
<% unless @journals.any? %>
Der er ikke oprettet journaler.
<% else %>
<table id="journal_list" class="sortable list">
	<tr>
		<th class="wide sortcol sortdesc" title="Sorter efter navn">Navn</th>
		<th title="Sorter efter Id" class="sortcol">Id</th>
		<th title="Sorter efter fødselsdato" class="sortcol date-eu">Fødselsdato</th>
		<th title="Sorter efter oprettelsesdato" class="sortcol date-eu"><%= t('status.created') %></th>
		<th class="nosort"><%= t('action') %></th>
	</tr>

	<% @journals.each do |g| %>
	<tr>
		<td class="pj_name"><a href="<%= url_for(g) %>"><%= g.get_name %></a></td>
		<td class="pj small number"><%= g.code %></td>
		<td class="pj small"><span class="nobr"><%= g.birth_short %></span></td>
		<td class="pj small"><span class="nobr"><%= g.created_at.to_date.strftime("%d-%m-%Y") %></span></td>
		<td class="pj">
			<%# link_to_icon 'journal_edit.png', edit_journal_url(g), :title => t('journal.edit') %>
			<%= link_to_icon 'journal_delete.png', remove_project_journal_url(@project, g), :confirm => "Vil du fjerne journalen #{g.title} fra projektet?", :title => t('journal.delete') %>      
		</td>
	</tr>
	<% end %>
</table>
<% end %>
</div>

<% if @journals.total_pages > 1 -%>
	<div class="page_entries"><%= page_entries_info(@journals) -%></div>
	<% 
 	# 	if @group
		# 	params[:controller] = '/journals'
		# 	params[:action] = 'center'
		# 	params[:id] = @group.id
		# 	# params[:ajax] = true
		# end
		%>
	<%= will_paginate @journals, :remote => { :with => 'value', :update => 'journal_list' } -%> &nbsp;&nbsp;
<% end -%>


<p>
	<div class="commands">
		<br/>
		<% if current_user.access? :journal_new_edit_delete %>
		<%= link_button(t('journal.new'), new_project_journal_path(@group, @project), 'journal_add', :title => 'Opret Journal i projekt') %>
		<% end %>
		<%= link_button t('export.journal_letter_data'), export_journals_path(@project, :format => 'csv') +".csv", 'export_logins', :title => 'Eksporter brevfletningsdata' %>

		<%= link_button "Tilføj journaler", select_project_journals_path(@project), 'journal_move', :title => "Føj journaler til projekt" %>
		<%# link_button t('journal.status'), reminder_path(@group), 'journal_status', :title => t('journal.status') %>
		<br/>
		<%= link_button "Ret forældre-emails", edit_journals_email_path(@project), 'journal_edit', :title => "Ret forældre-emailadresser" %>

		<p/>
	</div>
</p>