

	<% if @journals.total_pages > 1 -%>
		<div class="page_entries"><%= page_entries_info(@journals) -%></div>
		<% 
	 		if @group
				params[:controller] = '/journals'
				params[:action] = 'center'
				params[:id] = @group.id
				# params[:ajax] = true
			end
			%>
		<%= will_paginate @journals, :remote => { :with => 'value', :update => 'journal_list' } -%> &nbsp;&nbsp;
	<% end -%>
<%# render :partial => 'shared/ajax_pagination' %>

<% if @group %>
<p>
	<div class="commands">
		<br/>
		<% if current_user.access? :journal_new_edit_delete %>
		<%= link_button(t('journal.new'), new_project_journal_path(@group, @project), 'journal_add', :title => 'Opret Journal i projekt') %>
		<% end %>
		<%= link_button t('export.journal_letter_data'), export_logins_path(@group, :format => 'csv') +".csv", 'export_logins', :title => 'Eksporter logins til Excel' %>
		<% if @group.parent && @group.parent.teams.size > 1 %>
		<%= link_button "Tilføj journaler", select_project_journals_path(@group), 'journal_move', :title => t('team.move') %>
		<% end %>
		<%= link_button t('journal.status'), reminder_path(@group), 'journal_status', :title => t('journal.status') %>
		<p/>
	</div>
</p>
<% end %>