<form action="/projects/update_journals_email" method="post">
<table>
	<tr>
		<th>Journal</th>
		<th>Email</th>

	<input type="hidden" name="project[id]" value="<%= @project.id %>">

	<% @journals.each do |journal| %>
	<tr>
		<input type="hidden" name="journals[][id]" value="<%= journal.id %>">
		<td><%= journal.title %></td>
		<td><input type="text" name="journals[][person_info][parent_email]" value="<%= journal.person_info.parent_email %>" ></td>
	</tr>
	<% end %>
</table>
<%= submit_tag "Gem", :class => "save button" %>
</form>
