	<table class="project_info">
		<tr>
			<td class="t_i"><label for="project_code">Projekt-id:</label></td>
			<td class="t"><%= @project.code %></td>
		</tr>
		<tr>
			<td class="t_i"><label for="project_name">Navn:</label></td>
			<td class="t"><%= @project.name %></td>
		</tr>
		<tr>
			<td class="t_i"><label for="project_description">Beskrivelse:</label></td>
			<td class="t"><%= @project.description %></td>
		</tr>
	</table>

	<h3>Journaler</h3>

	<div id="journals">
		<% if @journals && @journals.any? %>
		<%= render :partial => 'journals' %>
		<% end %>
	<%# render :partial => 'select_project_journals', :locals => {:hide_team => true} %>
	</div>

<div class="commands">
	<%= back_button t('go_back'), :onclick => 'history.go(-1)' %>
</div>
