<h1>Editing letter</h1>

<% form_for(@letter) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'form' %>

  <p>
    <%= f.submit 'Create', :class => 'button letter' %>
  </p>

<% end %>

<%= link_to 'Show', @letter %> |
<%= link_to 'Back', letters_path %>