<h1>Brevformularer</h1>

<table id="letter_list" class="sortable list" class="letters">
  <tr>
		<th class="wide" title=<%= t('name') %>><%= t('name') %></th>
		<th title="<%= t('group') %>"><%= t('group') %></th>
		<th>Brev til</th>
		<th class="nosort" style="width: 75px;"><%= t('action') %></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
		<td><%= link_to letter.name, letter_path(letter) %></td>
		<td><%= letter.group.nil? && "Alle centre" || letter.group.title %></td>
		<td><%= t("roles.#{letter.surveytype}") %></td>
	    <td><%= link_to_icon 'icon_edit_mailbox.gif', edit_letter_url(letter), :title => t('letter.edit') %>
	    	<%= link_to(img_tag_html4('letter_forward.png', :border => 0, :class => 'icon', :title => t('letter.download')), download_letter_path(letter), :popup => ['new_window, height=800,width=700']) %>
				<span>&nbsp;&nbsp;</span>
				<%= link_to_icon 'delete2.png', letter_path(letter), :method => :delete, :confirm => t('letter.confirm') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_button t('letter.new'), new_letter_path, 'letter_new' %>