<h1>Brevformularer</h1>

<table id="letter_list" class="sortable list" class="letters">
  <tr>
		<th class="wide" title=<%= t('name') %>><%= t('name') %></th>
		<th title="<%= t('group') %>"><%= t('group') %></th>
		<th class="nosort" style="width: 75px;"><%= t('action') %></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
		<td><%= letter.name %></td>
		<td><%= letter.group.nil? && "Alle centre" || letter.group.title %></td>
    <td><%= link_to_icon 'icon_edit_mailbox.gif', edit_letter_url(letter), :title => t('letter.edit') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_button t('letter.new'), new_letter_path, 'letter_new' %>