<table class="letter_info">
	<tr>
		<td class="t_i"><label for="letter_name">Navn:</label></td>
		<td class="t"><%= @letter.name %></td>
	</tr>
	<tr>
		<td class="t_i"><label for="letter_group"><%= center_or_team_text(@letter.group) %>:</label></td>
		<% link = if @letter.group.nil?
			 	 t('letter.all_centers')
			 else @letter.group
				 center_or_team_url(@letter.group)
			 end %>
		<td class="t"><%= link %></td>
	</tr>
	<tr>
		<td class="t_i">Brev til:</td>
		<td class="t_i"><%= t("roles.#{@letter.surveytype}") %></td>
	</tr>
	<tr>
		<td class="t_i">Indhold:</td>
		<td><%= @letter.letter %></td>
	</tr>
</table>

<div class="button">
	<%= link_button t('letter.edit'), edit_letter_url(@letter), 'letter', :title => 'Rediger brev' %> 
	<%= link_button t('letter.delete'), letter_url(@letter), 'remove', :method => :delete, :confirm => t('letter.confirm'), :title => 'Slet brev' %> 
</div>	

<p>

<%= back_to_button letters_url %>
