
<h2>Slet Abonnement &quot;<%= @subscription.center.title %>, <%= @subscription.survey.title %>&quot;</h2>

<p>
Er du sikker på at du vil slette abonnementen på spørgeskemaet &quot;<%= @subscription.survey.title %>&quot;?
Du kan nøjes med at deaktivere abonnementet. <strong>Denne handling kan ikke fortrydes</strong>.
</p>

<% form_tag :action => :destroy, :id => @subscription do %>
  <%= submit_tag 'Ja', :name => 'yes' %>
  <%= submit_tag 'Nej', :name => 'no' %>
<% end %>
