<h2>Detaljer for Abonnement &quot;<%=h @subscription.center.get_title %>&quot;</h2>

<dl>
  <dt>Center:</dt>
  <dd><%=h @subscription.center.get_title %></dd>

	<dt>Spørgeskema:</dt>
	<dd><%= @subscription.survey.get_title %><dd>
	
  <dt><%= t('status.created') %></dt>
  <dd><%= @subscription.created_at.to_formatted_s(:long) %></dd>

  <dt>Ændret</dt>
  <dd><%= @subscription.updated_at.to_formatted_s(:long) %></dd>
	
	<dt><%= t('state') %></dt>
	<dd><%= @subscription.states.invert[@subscription.state] %><dd>

	<dt>Brugt</dt>
	
	<% @periods = @subscription.summary(@options) %>
	<dd><%= render :partial => "shared/subscription_summary", :object => @periods %></dd>

	<dt><span id="subscription_note">Noter</span></dt>
	<dd><%= in_place_editor_field :subscription, :note, {}, :rows => 5,
                     :external_control => 'subscription_note', :style => "border: 1px solid #888;" %>
	</dd>
<dl>

	


<div class="commands">
<% if current_user.access? :subscription_new_edit %>
<%= link_button 'Nulstil', subscription_reset_path(@subscription), 'subscription_reset', :title => 'Nulstil' %>
	<% if @subscription.state == 1 %>
		<%= link_button 'Deaktiver', subscription_deactivate_path(@subscription), 'subscription_deactivate', :title => 'Deaktiver abonnement' %>
	<% else %>
		<%= link_button 'Aktiver', subscription_activate_path(@subscription), 'subscription_activate', :title => 'Aktiver abonnement' %>
	<% end %>
<% end %>
<%= link_button t('go_back_to_list'), subscriptions_path, 'go_back', :title => 'Tilbage til liste af abonnementer' %>
</div>
