<% no = question.number %>
<% id = question.id.to_s %>

<div id='question_number<%= no %>'>

	<!-- this should be put in _question_edit -->
<% if current_user.access? :survey_edit_delete %>
<% if no > 0 %>
	Spørgsmål: <%= in_place_editor_field :question, :number, {}, :rows => 1, :size => 2 %>
<% end %>
<div class='edit_question'>
	<%= link_to_remote "Slet", :url => { :controller => 'survey_builder', :action => "delete_question", :id => id, :number => no },
	:confirm => "Slet spørgsmål #{no}?",
	:failure => "alert('HTTP Error ' + request.status + '!')" %>
</div>
<% end %>

<br>
<table class="question" id="question<%= id %>"> 
	<tbody>
	<%- 
	rows = question.rows_of_cols
	output = ["<input id='Q#{@no}_id_#{id}' name='Q#{no}[id]' type='hidden' value='#{id}' >"] # removed />
	
	index = 0
	rows.sort.each do |row, cols|
		color = index % 2 == 0 && "even" || "odd"
		# puts "ROW: #{row.inspect}  cols: #{cols.inspect}"
		output << "<tr><td><div id='row#{id}_#{row}' class='row'>\n"
		output << 
			if row == 1
				"\t<div class='group span-1'>#{no > 0 && (no.to_roman + ". ") || '&nbsp;'}</div>\n"
			else
				"\t<div class='span-1'>&nbsp;</div>\n"
			end
		
		# puts "survey: #{question.survey_id} question: #{no}  Cols: #{cols.size}"
		col_index = 1;
		no_cols = cols.size
		cols.each do |col, cell|
			# puts "Column: #{cell.col} last: #{last} cols.size #{no_cols}"
			html = cell.to_html((@options || {:show_all => true}).merge(:number => no, :last => cell.col == no_cols))
			# puts "#{cell.class} id: #{cell.id} nummer: #{question.number} row,col #{cell.row}, #{cell.col}"
			output << html if html
			col_index += 1
		end
		empty_cells = question.columns - cols.size
		# puts "Insert empty_cells: #{question.columns}-#{cols.size} = #{empty_cells}"
		# puts "Colsize: #{cols.size} empty: #{empty_cells}" if question.number == 10
		# empty_cells.times {|i| output << "<div class='filler span-7 last'></div>\n"} unless cols.size == 1
		output << "</div></td></tr>\n"
	end
		%>
<%= output.join %>
	</tbody>
</table>

</div>

