<% no = question.number %>
<% id = question.id.to_s %>

<div id='question_number<%= no %>'>

	<!-- this should be put in _question_edit -->
<% if current_user.access? :survey_edit_delete %>
<% if no > 0 %>
	Spørgsmål: <%= in_place_editor_field :question, :number, {}, :rows => 1, :size => 2 %>
<% end %>
<div class='edit_question'>
	<%= link_to_remote "Slet", :url => { :controller => 'survey_builder', :action => "delete_question", :id => id, :number => no },
	:confirm => "Slet spørgsmål #{no}?",
	:failure => "alert('HTTP Error ' + request.status + '!')" %>
</div>
<% end %>

<br>
<table class="question" id="question<%= id %>"> 
	<tbody>
	<%- 
	rows = question.rows_of_cols
	output = ["<tr>", "<td>", "<input id='Q#{@no}_id_#{id}' name='Q#{no}[id]' type='hidden' value='#{id}' >", "</td>", "</tr>"] # removed />
	
	index = 0
	rows.sort.each do |row, cols|
		# puts "ROW: #{row.inspect}  cols: #{cols.inspect}"
		output << "<tr id='row#{id}_#{row}' class='row'>\n" << 
		((row==1) ? "\t<td class='group'><div class='span-1'>#{(no.to_roman + ". ") if no > 0 }</div></td>\n" : "\t<td></td>\n")
		
		puts "survey: #{question.survey_id} question: #{no}  Cols: #{cols.size}"
		cols.each do |col, cell|
			html = cell.to_html((@options || {:show_all => true}).merge(:number => no))
			# puts "#{cell.class} id: #{cell.id} nummer: #{question.number} row,col #{cell.row}, #{cell.col}"
			output << html if html
		end
		empty_cells = question.columns - cols.size
		puts "Insert empty_cells: #{question.columns}-#{cols.size} = #{empty_cells}"
		empty_cells.times {|i| output << "<td class='filler span-7 last'></td>\n"}
		output << "</tr>\n"
	end
		%>
<%= output.join %>
	</tbody>
</table>

</div>

