<% cache @journal_entry.cache_key do %>
<div class="survey" style='background-color: #<%= @survey.color %>;'>
	<% if @journal_entry %>
			<div id="survey_journal_info">
				ID: <%= @journal_entry.journal.qualified_id %><br>
				Navn: <%= @journal_entry.journal.name %><br>
				Fødselsdato: <%= @journal_entry.journal.birth_short %><br>
			</div>
	<% end %>
	<div id="survey_info">
		<div class="surveyname"><%= @survey.title %></div>
		<div class="surveyinfo"><b>Antal spørgsmål:</b> <%= @survey.no_questions %></div>
	</div>
</div>
<% end %>