<% if @journal_entry
	cache @journal_entry.cache_key do %>
	<div class="survey" style='background-color: #<%= @survey.color %>;'>
		<div id="survey_journal_info">
			ID: <%= @journal_entry.journal.qualified_id %><br>
			Navn: <%= @journal_entry.journal.name %><br>
			F&oslash;dselsdato: <%= @journal_entry.journal.birth_short %><br>
		</div>
	</div>
	<% end %>
<% else %>
	<%= back_button surveys_path %>
	<div class="survey" style='background-color: #<%= @survey.color %>;'>
		<div id="survey_journal_info">
			<div class="surveyname"><%= @survey.title %></div>
			<div class="surveyinfo"><b>Antal sp&oslash;rgsm&aring;l:</b> <%= @survey.no_questions %></div>
		</div>
	</div>
<% end %>
