<%- if @journal_entry %>
	<div class="survey" style='background-color: #<%= @survey.color %>;'>
		<div class="surveyname"><%= @survey.title %></div>
		<div id="survey_journal_info">
			<% render :partial => 'surveys/survey_header_info' %>
		</div>
	</div>
<%- else %>
	<%= back_button surveys_path %>
	<div class="survey" style='background-color: #<%= @survey.color %>;'>
		<div class="surveyname"><%= @survey.title %></div>
		<div id="survey_journal_info" />
	</div>
<%- end %>