<div id="survey_header">
<%= render :partial => 'surveys/back_button' %>
<%- if @is_login_user %>
<div id="survey_header">
	<div class="survey" style='background-color: #<%= @survey_fast.color %>;'>
		<div id="survey_journal_info">
			<%# render :partial => 'surveys/survey_header_info' %>
		</div>
		<div class="surveyname"><%= @survey_fast.title %></div>
	</div>
</div>
<%- else %>
<%# back_button journal_path(@journal_entry) %>
<div id="back_button"></div>
<div id="survey_header">
	<div class="survey" style='background-color: #<%= @survey_fast.color %>;'>
		<div id="survey_journal_info">
			<%= render :partial => 'surveys/survey_header_info' %>
		</div>
		<div class="surveyname"><%= @survey_fast.title %></div>
	</div>
</div>
<%- end %></div>
<br>

<div id='draft-message' style='color:red;'></div>

<% if current_user.access? :survey_show_fast_input %>
<div class="command">
	<% url = 
	if @options[:show_only]
		survey_show_only_path(@survey_fast)
	else
		survey_path(@survey_fast)
	end %>
	<%= link_button t('survey.input'), url, 'survey_input', :title => 'Besvar med normal indtastning' %>
</div>
<% end %>

<br>

<a href='javascript:toggleComments(surveyform)'>Skriv kommentarer</a>

<% unless @options[:action] =~ /show/ %>
		<form action="/survey_answers/create/<%= @journal_entry.id %>" id="surveyform" method="post" onsubmit="return submitAction;" >
<% end %>

	<div>
		<%= render :partial => "surveys/answer_by_fast" %>
	</div>
	<br>

	<%= render :partial => "surveys/question_fast", :collection => @survey_fast.questions %>
	<%= render :partial => 'fancy_submit_button' %>
	
	<% unless @options[:action] =~ /show/ %>
	</form>

	<!-- Put before validation.add -->
	<script type='text/javascript'>
		var valid = new Validation('surveyform', {immediate : true, stopOnFirst : true, onFormValidate : setFormStatusInWindow});
	</script>
	
	<% unless @options[:action] =~ /show|edit/ && !@options[:show_only] %>
		<%= observe_form "surveyform",
				 :url => survey_save_draft_path(@journal_entry),
				 :update => "draft-message",
				 :frequency => save_draft_interval %>
	<% end %>
<% end %>

<p/>
	<%= back_button journal_path(@journal_entry.journal) %>


<div id="debug">
</div>