<div id="survey_header">
	<%= render :partial => 'surveys/survey_header' %>
</div>
<br>

<div id='draft-message' style='color:red;'></div>

<% if current_user.access? :survey_show_fast_input %>
<div class="command">
	<% url = 
	if @options[:show_only]
		survey_show_only_path(@survey)
	else
		survey_path(@journal_entry)
	end %>
	<%= link_button t('survey.input'), url, 'survey_input', :title => 'Besvar med normal indtastning' %>
</div>
<% end %>

<br>

<a href='javascript:toggleComments(surveyform)'>Skriv kommentarer</a>

<% unless @options[:action] =~ /show/ %>
		<form action="/survey_answers/create/<%= @journal_entry.id %>" id="surveyform" method="post" onsubmit="return submitAction;" >
<% end %>

	<div>
		<%= render :partial => "surveys/answer_by" %>
	</div>
	<br>

	<%= render :partial => "surveys/question_fast", :collection => @survey.questions %>
	<%= render :partial => 'fancy_submit_button' %>
	
	<% unless @options[:action] =~ /show/ %>
	</form>

	<!-- Put before validation.add -->
	<script type='text/javascript'>
		var valid = new Validation('surveyform', {immediate : true, stopOnFirst : true, onFormValidate : setFormStatusInWindow});
	</script>
	
	<% unless @options[:action] =~ /show|edit/ && !@options[:show_only] %>
		<%= observe_form "surveyform",
				 :url => survey_save_draft_path(@journal_entry),
				 :update => "draft-message",
				 :frequency => save_draft_interval %>
	<% end %>
<% end %>

<p/>
	<%= back_button journal_path(@journal_entry.journal) %>


<div id="debug">
</div>