<%= render :partial => 'surveys/survey_header' %>

<br>

<div id='draft-message' style='color:red;'></div>

<% if current_user.access? :survey_show_fast_input and !@options[:show_only] %>
<div class="command">
	<% url =
		if @options[:answers]
			survey_show_fast_path(@journal_entry)
		elsif @options[:show_only]
			survey_show_only_fast_path(@journal_entry)
		else
			survey_show_fast_path(@journal_entry)
		end %>
	<%= link_button t('survey.fast_input'), url, 'survey_fast_input', :title => 'Besvar med hurtig indtastning' %>
</div>
<% end %>

<br>


<% unless @options[:action] =~ /show/ %>
		<form action="/survey_answers/create/<%= @journal_entry.id %>" id="surveyform" method="post" >

			<!-- Put before validation.add -->
		<script type='text/javascript'>
	    new Validation('surveyform', {immediate : true, stopOnFirst : true });
		</script>
<% end %>

<div>
	<%= render :partial => "surveys/answer_by" %>
</div>

<br>

<%= render :partial => "surveys/question", :collection => @survey.questions %>

<% unless @options[:action] =~ /show/ %>
<a class='button' id='send_form'>
	<span onclick="document.forms[0].submit(); $('send_form').hide(); $('sending_form').show();">Send svar</span>
</a>
<div id="sending_form" style="display: none;">
	<a class='send_form' href='#'>
		<span class="send_survey">Sender svar...</span>
	</a>
</div>
<% end %>

<div id="submitting" style="border: 1px solid green; padding: 8px; display: none;">Sender svar...</div>

<% unless @options[:action] =~ /show/ && !@options[:show_only] %>
	</form>
	<%= observe_form "surveyform",
			 :url => survey_save_draft_path(@journal_entry),
			 :update => "draft-message",
			 :frequency => 20 %>
<% end %>

<p>
	<%= (@journal_entry && !current_user.login_user) && back_button(journal_path(@journal_entry.journal)) || "" %>
</p>