<h1>Spørgeskemaer</h1>

<h3>Velkommen.</h3>
<p>
Du skal besvare nedenstående spørgeskema. Du begynder ved at trykke på start.


<table>
<%	
	odd_or_even = 0
	
	for survey in @surveys
		odd_or_even = 1 - odd_or_even %>

  <tr valign="top" class="ListLine<%= odd_or_even %>" style='background-color: #<%= survey.color %>;'>
	<td width="80%" class="surveyname">
		<span class="survey_title"><%= link_button t('survey.start'), { :controller => :survey, :action => :show, :id => @entry }, 'survey_start' %></span><br>
		<%= h(truncate(survey.description, 80)) %>
	</td>
  </tr>
	<% end %>
</table>

<br>

<%= link_button t('finish'), logout_path, 'logout', :title => 'Log ud af systemet' %>
