<h1 id="cbcl-title"><!-- CBCL-online --></h1>
	<div id="subtitle"></div>

<%- form_tag :action => :login do %>

<div title="Account login" id="loginform" class="form">

    <h3>CBCL-online</h3>
    
    <table>
      <tr>
        <td align=right width="50px"></td>

        <td width="200px"><%= text_field_tag :username, params[:username], :size => 20, :class => "login_field" %></td>
      </tr>
      <tr> 
        <td align=right></td>
        <td width="200px"><%= password_field_tag :password, params[:password], :size => 20, :class => "login_field" %></td>
      </tr>
    </table>
   <div align="center">
		<%= submit_tag "Login &#187;", :name => "login", :class => "button login"  %>

     <br><small>
     Har du mistet dit password? <%= link_to 'Få et nyt her.', lostpassword_url %>
    </small>
   </div>
	  <p style="color: green"><%= flash[:notice] %></p>
  	<%= render :partial => 'layouts/error_messages_flash' %>
	<%#- if flash[:error] -%>
	<p style="color: red"><%= flash[:error] %></p>
	<br/>
	<%#- end %>
</div>
<%- end %>