<div id="bodylogin">
<h1 id="cbcl-title">CBCL Login</h1>
	<div id="subtitle"></div>

<% form_tag :action => :login do %>

<div title="Account login" id="loginform" class="form">

    <h3>Log venligst ind:</h3>
    
    <table>
      <tr>
        <td align=right width="100px"><label for="user_login">brugernavn:</label></td>

        <td width="100px"><%= text_field_tag :login, params[:login], :size => 20 %></td>
      </tr>
      <tr> 
        <td align=right width="100px"><label for="user_password">password:</label></td>
        <td width="100px"><%= password_field_tag :password, params[:password], :size => 20 %></td>
      </tr>
      <tr> 
        <td align=right width="100px"><label for="user_password">password:</label></td>
        <td width="100px"><%= select :login, :role, Role.find(:all).map { |r| [r.id, r.title] } %></td>
      </tr>

<!--      <tr> 
        <td align=right width="100px"><label for="user_noexpiry"></label></td>
        <td width="100px"><input type="checkbox" name="user_noexpiry" id="user_noexpiry" /> <small>husk mig</small></td>
      </tr> -->
      <tr> 
        <td width="100px"></td>
        <td><input type="submit" name="login" value="Login &#187;" class="primary" /></td>
      </tr>
    </table>
   <div align="center">

     <br><small>
     Har du mistet dit password? <%= link_to 'Få et nyt her.', :controller => 'registration', :action => :lostpassword %>
    </small>
     
   </div>
    <p style="color: green"><%= flash[:notice] %></p>
	<% if flash[:error] -%>
	<p style="color: red"><%= flash[:error] %></p>
	<% end %>
</div>

<% end %>

</div>