<%= error_messages_for 'group' %>

<!--[form:user]-->

<dl>
  <dt><label for="group_code"><%= t('id') %></label></dt>
  <dd><%= text_field 'group', 'code', { :size => 5 }  %></dd>

  <dt><label for="group_title"><%= t('name') %></label></dt>
  <dd><%= text_field 'group', 'title'  %></dd>

  <dt><label for="person_info_sex"><%= t('gender') %></label></dt>
  <dd><%= select 'person_info', 'sex', PersonInfo.sexes.to_a %></dd>

  <dt><label for="person_info_birthdate"><%= t('birthdate') %></label></dt>
  <dd><%= date_select 'person_info', 'birthdate', {:start_year => Date.today.year-21, :end_year => Date.today.year, :order => [:day, :month, :year] } %></dd>

  <dt><label for="person_info_nationality"><%= t('nationality') %></label></dt>
  <dd><%= collection_select('person_info', 'nationality', @nationalities, :country, :country) %></dd>

	<br>
  <dt><label>Vælg center/team:</label></dt>
  <dd>
    <%= node_tree(@groups) do |group|
					onclick = 
          result = "<input class=\"group_center\" id=\"group_parent_#{group.id}\" type=\"radio\" name=\"group[parent]\" value=\"#{group.id}\" checked=\"checked\" /> " if @group.parent == group
          result = "<input class=\"group_center\" id=\"group_parent_#{group.id}\" type=\"radio\" name=\"group[parent]\" value=\"#{group.id}\" /> " if @group.parent != group
          result += "<label for=\"group_parent_#{group.id}\">#{group.title}</label> "
          result
        end %>
  </dd>

</dl>

<script type="text/javascript">
$$(".group_center").each(function(center){
	center.observe('change', function(){
		new Ajax.Updater('group_code', '/centers/next_journal_id',
		 {asynchronous:true, evalScripts:true, parameters:'id=' + center.value});
	});
});
	$('group_code').focus();
</script>
<!--[eoform:user]-->
