<h2>Rediger Journal</h2>

<% form_tag journal_url(@journal), :method => :put do %>

<%= error_messages_for 'journal' %>

<!--[form:user]-->

<dl>
  <dt><label for="journal_code"><%= t('id') %></label></dt>
  <dd><%= text_field 'journal', 'code', { :size => 5 }  %></dd>

  <dt><label for="journal_title"><%= t('name') %></label></dt>
  <dd><%= text_field 'journal', 'title'  %></dd>

  <dt><label for="journal_sex"><%= t('gender') %></label></dt>
  <dd><%= select 'journal', 'sex', Journal.sexes.to_a %></dd>

  <dt><label for="journal_birthdate"><%= t('birthdate') %></label></dt>
  <dd><%= date_select 'journal', 'birthdate', {:start_year => Date.today.year-25, :end_year => Date.today.year, :order => [:day, :month, :year] } %></dd>

  <dt><label for="journal_nationality"><%= t('nationality') %></label></dt>
  <dd><%= collection_select('journal', 'nationality', @nationalities, :country, :country) %></dd>

  <dt><label for="journal_parent_name"><%= 'Forælder' %></label></dt>
  <dd><%= text_field('journal', 'parent_name', {:size => 40}) %></dd>

  <dt><label for="journal_parent_email"><%= 'Forælder-email' %></label></dt>
  <dd><%= text_field('journal', 'parent_email', {:size => 25}) %></dd>

  <dt><label for="journal_alt_id"><%= 'Projektnr' %></label></dt>
  <dd><%= text_field('journal', 'alt_id', {:size => 25}) %></dd>

  <% if !@any_answered_entries %>
  </dl>


	<br/>



<script type="text/javascript">
// Event.observe(window, 'load', function() {
//   var code = $("journal_code").value;
//   var hasCode = code != "";
//   if(!hasCode) {
//   	var selectedGroup = $$(".journal_center").find(function(radio) { return radio.checked; }).value;
// 	  new Ajax.Updater('journal_code', '/centers/next_journal_code',
// 	   {asynchronous:true, evalScripts:true, parameters:'id=' + selectedGroup});
//   }
//   });
// $$(".journal_center").each(function(center){
// 	center.observe('click', function(){
// 		new Ajax.Updater('journal_code', '/centers/next_journal_code',
// 		{asynchronous:true, evalScripts:true, parameters:'id=' + center.value});
// 	});
// });
// $('journal_code').focus();
</script>

<% else %>
  <dt><%= center_or_team_text(@journal.group) %></label></dt>
  <dd><%= @journal.group.title %></dd>
  <br/>
<% end %>
<!--[eoform:user]-->

  <%= submit_tag t('save_changes'), :class => 'button journal_edit' %> &nbsp; <%= link_button t('journal.move'), move_journal_to_group_path(@journal), "move_journal" %>

<% end %>

	
<%= back_button journal_url(@journal) %>
