<%# cache @group.cache_key do  %>
	<h2>Journal &quot;<%=h @group.get_name %>&quot;</h2>
	
	<%# cache "#{@group.cache_key}_info" do %>
		<%= render :partial => 'journal_info' %>
	<%# end %>
	
	<% if @not_answered_entries.size > 0 %>
		<h4>Skemaer der skal besvares</h4>
		<table id="not_answered" class="surveys">
			<tr>
				<th>Spørgeskema</th>
				<th>Type</th>
				<th>Tilføjet</th>
				<th><%= t('state') %></th>
				<th class="nosort"><%= t('action') %></th>
			</tr>
		<% @not_answered_entries.each do |entry| %>
			 	 <tr id='<%= "entry" + entry.id.to_s %>'>
					 <% survey = entry.survey %>
					 <td style='background-color: #<%= survey.color %>;'>
					  <%# link_to img_tag_html4("icon_input.gif", :border => 0, :alt => "Hurtig indtastning", :title => "Vis hurtig indtastning"), survey_show_fast_path(entry, :fast => true), :title => 'Besvar med hurtig indtastning', :style => 'float: right; width: 16px;' %>
					  <%= link_to img_tag_html4("icon_input.gif", :border => 0, :alt => "Hurtig indtastning", :title => "Vis hurtig indtastning"), journal_entry_path(entry, :fast => true), :title => 'Besvar med hurtig indtastning', :style => 'float: right; width: 16px;' %>
            <%= link_to entry.get_title, journal_entry_path(entry), :title => 'Besvar' %>&nbsp;&nbsp;</td>
           <td><%= t("roles.#{survey.surveytype}") %></td>
					 <td><%= entry.created_at.strftime "%d-%m-%Y" %>
					 <td><%= entry.status %></td>
					 <td>
					<% @entry = entry %>
					<%= entry.login_user.nil? ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : link_to(img_tag_html4('icon_edit_mailbox.gif', :border => 0, 
										:class => 'icon', :title => 'Vis login-info'), login_letter_path(entry) + ".pdf", :popup => ['new_window, height=800,width=700']) %>
										<%= link_to img_tag_html4("pencil.png", :border => 0, :alt => "Ret opfølgning", :title => "Ret opfølgning"), edit_journal_entry_path(entry) %>
					<%= link_to_remote((img_tag_html4('icon_delete_survey.gif', :border => 0, 
										:class => 'icon icon_delete', :title => 'Fjern skema')), 
							:update => ('entry'<<entry.id.to_s), 
							:confirm => "Vil du fjerne spørgeskemaet '#{entry.survey.get_title}'\n fra journalen #{@group.get_name}?",
					 		:url => entry_remove_path(entry)) %></td>
				 </tr>
		<% end %>
		</table>
	<% end %>
	
	<p/>
	
	<div class="commands">
		<%= link_button t('survey.add'), journal_add_survey_path(@group), 'journal_add_surveys', :title => 'Tilføj skemaer' %>
		<%= link_button t('survey.remove'), journal_remove_survey_path(@group), 'journal_remove_surveys', :title => 'Fjern skemaer' %>
		<%= link_button t('letter.print'), print_letters_path(@group) + ".pdf", 'letters_print', :title => 'Udskriv breve', :popup => ['new_window, height=800,width=800'] %>
	</div>
	
	<% if answered_count = @answered_entries.size > 0 %>
		<br/>
		<hr/>
		<h4><%= t('survey.answered') %></h4>
		<form action="/answer_reports/show.pdf" id="show_score_rapports" method="post">
			<%= hidden_field_tag 'journal_id', @group.id %>
		<div id="answered_surveys">
		<table id="answered" class="surveys">
		<% if answered_count %>
			<th><%= t('survey.survey') %></th>
			<th><%= t('status.answered') %></th>
			<th><%= "Besvarelse" %></th>
			<th><%= "af" %></th>
			<th class="nosort"><%= t('action') %></th>
			<% @answered_entries.each do |entry| %>
		 	 	<tr id='<%= "entry_answer" + entry.id.to_s %>'>
					 <td class="no_border" style='background-color: #<%= entry.survey.color %>;'>
						<%= check_box "answers", entry.id, { :class => 'no_border'} %>
						<%= link_to entry.get_title, survey_answer_path(entry), :title => 'Vis Besvarelse' %></td>
					 <td><%= entry.answered_at.strftime "%-d-%-m-%Y" %> 
						 <%= link_to img_tag_html4("pencil.png", :border => 0, :alt => "Ret besvarelsesdato", :title => "Ret besvarelsesdato"), edit_date_survey_answers_path(entry) %>
					 </td>
					 <td><%= entry.status %></td>
					 <td>
						<%= if entry.answered_by
							 		t("roles.#{entry.answered_by}")
							  else
								 	entry.status
								end %>
					 </td>
					 <td><%= link_to img_tag_html4("printer.png", :border=>0, :alt => 'Udskriv besvarelse', :title => 'Udskriv besvarelse' ),
									(survey_answer_path(entry) + ".pdf"), :format => 'pdf', :title => 'Udskriv besvarelse' %>&nbsp;&nbsp;
					
							<%= link_to img_tag_html4("icon_input.gif", :border=>0, :alt => 'Ret besvarelse', :title => 'Ret besvarelse' ),
									edit_survey_answer_path(entry), :title => 'Ret besvarelse' %>
 							<%= link_to_remote((img_tag_html4('icon_delete_survey.gif', :border => 0, 
										:class => 'icon icon_delete', :title => 'Fjern besvarelse')), 
							:update => ('entry_answer' << entry.id.to_s), 
							:confirm => "Vil du fjerne besvarelsen '#{entry.survey.get_title}'\n fra journalen #{@group.get_title}?",
					 		:url => entry_remove_answer_path(entry)) %>      
						</td>
	
			<% end %>
		<% else %>
		   Ingen
		<% end %>
		</table>
		</div>
		<% if answered_count %>
		  <div class="commands">
				<div class="button">
					<%= submit_tag t('score.show_report'), :class => 'button score_calculate', :format => 'pdf' %>
					<label><input type="checkbox" checked="checked" name="extended_scorereport" id="select_scorereport" onchange="toggleReportType('show_score_rapports', 'select_scorereport');">Med besvarelser</label>&nbsp;&nbsp;
					<select autocomplete="off" id="select_format" name="format" onchange="toggleActionFormat('show_score_rapports', 'select_format')">
						<option value="pdf">PDF</option>
						<option value="html">HTML</option>
					</select>
				</div>
			<% end %>
		</div>
		</form>
		<%# end %>
	<% end %>

	<div class="commands">
		<%= link_button t('edit'), edit_journal_path(@group), 'journal_edit', :title => t('edit') %>
		<%= back_button journals_path %>
	</div>
	
<%# end %>  <!-- end of cache -->