<h1>Liste af nationaliteter</h1>

<table class="list">
  <tr>
		<th>Nationalitet</th>
    <th>Landekode</th>
    <th><%= t('action') %></th>
  </tr>
  
<% for nationality in @nationalities %>
  <tr>
    <td><%=h nationality.country %></td>
    <td><%=h nationality.country_code %>&nbsp;</td>
    <td>
		<%= link_to t('show'), nationality %>
    <%= link_to t('edit'), :action => :edit, :id => nationality %>
    <%= link_to t('delete'), { :action => :destroy, :id => nationality }, :confirm => 'Er du sikker?', :method => "post" %>
	</td>
  </tr>
<% end %>
</table>

<% if @nationalities.total_pages > 1 -%>
	<div class="page_entries"><%= page_entries_info(@nationalities) -%></div>
	<%= will_paginate @nationalities, :remote => {:with => 'value', :update => 'list'} -%>
<% end -%>

<p>
	<br>
</p>


<%= link_button 'Ny nationalitet', new_nationality_path, 'nationality_new' %>
