<% cache "menu_#{current_user.highest_role.title}" do %>
<% if current_user.perms[:layout_show_menu] %>
<div id="menu">

	<% if current_user && current_user.perms[:layout_show_group_menu] %>
	<div class="user_info" style="color: #eee; margin-bottom: -1.3em;">
		<% if current_user.last_logged_in_at == current_user.created_at %>
			<span style="color: green; padding-left: 200px; padding-top: 100px;">Husk at skifte dit password</span>
		<% end %>
		<% if current_user.status =~ /password/ %>
			<span style="color: red;"><%= link_to t('change_password'), edit_user_url(current_user), :style => "color: red;" %></span>
		<% end %>
		</div>
	<div id="group_menu" class="menu_section">
		<div class="menu_title"><%= t("menu.groups") %></div>

		<% form_tag(center_search_path, { :onSubmit => "Element.show('spinner');" }) do %>
		
		<% if current_user.perms[:layout_show_center_search] %>
		<div class="searchbox">
			<label for="search_centers"><font size="1"><b><%= t("menu.search_groups") %></b></font></label><br>
			<%= text_field_tag_html4 :search_centers, "center", { :value => "" ,:size => 10, :class => 'search' } %>
			<img alt="spinner" id="center_spinner" src="/images/spinner.gif" style="display:none;" >
		</div>
		<% end %>

		<% if current_user.perms[:layout_show_center_search] %>
			<%= observe_field(:search_centers,
				:frequency => 0.5,
				:update => :content,
				:loading => "Element.show('center_spinner')",
				:complete => "Element.hide('center_spinner')",
				:url => center_search_path ) %>
			<% end %>
		<% end %>

		<%= link_to (current_user.perms[:admin] ? t("menu.centers") : t("menu.center")), centers_path, :title => t('center.list') %>

		<!-- Vis ikke teams/personer til admin -->
		<% if current_user.perms[:team_show] %>
			<%= link_to t("menu.teams"), teams_path, :title => t('team.list') %>
		<% end %>
	</div>
	<% end %>

	<% if current_user.perms[:layout_show_user_menu] %>
	<div id="user_menu" class="menu_section">
		<div class="menu_title"><%= t('menu.users') %></div>
			<div class="change_password" style="display:none;">
				<%= link_to t('menu.change_password'), change_password_path(current_user), :title => t('menu.change_password_alt') %>
			</div>
		<% if current_user.perms[:layout_show_users]  %>
		<%= link_to t('menu.show_users'), users_path, :title => t('user.show') %>
			<% if current_user.perms[:user_new] %>
				<%= link_to t('menu.create_user'), new_user_path, :title => t('user.new') %>
			<% end %>
		<% end %>
		<% if current_user.perms[:layout_show_login_users] %>
		<% link_to 'Vis Login-brugere', login_users_path, :title => 'Vis login-bruger liste' %>
		<% end %>
	</div>
	<% end %>


	<% if current_user.perms[:layout_show_survey_menu] %>
	<div id="survey_menu" class="menu_section">
		<div class="menu_title"><%= t('menu.surveys') %></div>
		<% if current_user.perms[:layout_show_only_surveys] %>
		<%= link_to t('menu.show_surveys'), surveys_path, :title => 'Spørgeskema-liste' %>
		<% end %>
		<% if current_user.perms[:layout_show_subscriptions] %>
		<%= link_to t('menu.subscriptions'), subscriptions_path, :title => t('menu.show_subscriptions') %>
		<% end %>
		<% if current_user.perms[:layout_show_scores] %>
		<%= link_to t("menu.scores"), scores_path, :title => t('menu.scores_alt') %>
		<% end %>
		<% if [:layout_show_data_export] %>
		<%= link_to t("menu.data_export"), exports_path %>
		<% end %>
	</div>
	<% end %>

	<% if current_user.perms[:layout_show_teams_journals] %>
	<div id="journal_menu" class="menu_section">
		<div class="menu_title"><%= t('menu.journals') %></div>
		<% form_tag(journal_search_path, { :onSubmit => "Element.show('spinner');" }) do %>

			<div class="searchbox">
				<label for="search_journals"><font size="1"><b><%= t('menu.search_journals') %></b></font></label><br>
				<%= text_field_tag_html4 :search_journals, "", { :size => 10, :class => 'search' } %>
				<img alt="spinner" id="journal_spinner" src="/images/spinner.gif" style="display:none;" >
			</div>
		<% end %>

		<%= observe_field(:search_journals,
			:frequency => 0.5,
			:update => :content,
			:loading => "Element.show('journal_spinner')",
			:complete => "Element.hide('journal_spinner')",
			:url => journal_search_path) %>
		
		<%= link_to t('menu.show_journals'), journals_path, :title => t('menu.show_journals') %>
		<%= link_to t('menu.create_journal'), new_journal_path, :title => t('menu.create_journal') %>
	</div>
	<% end %>

	<% if current_user.perms[:layout_show_settings_menu] %>
	<div id="settings_menu" class="menu_section">
		<div class="menu_title">Indstillinger</div>
		<%= link_to t('menu.nationalities'), nationalities_path, :title => t('menu.nationalities') %>
		<%= link_to t('menu.variables'), variables_path, :title => t('menu.variables') %>
	</div>
	<% end %>
	
	<div id="logout_menu" class="menu_section">
		<div class="menu_title"><%= t('menu.other') %></div>
		<%= link_to t('menu.show_faq'), faqs_path, :title => t('menu.faq_alt') %>
		<% if shadow_user? %>
			<%= link_to img_tag_html4('door.png', :border => 0, :class => 'icon', :alt => t('logout_shadow'), :title => t('logout_shadow')), shadow_logout_path %>
		<% else %>
			<%= link_to t('logout'), logout_path, :title => t('logout_alt') %>
		<% end %>
	</div>

</div>
<% else %>
<%= t('logout_please') %> <%= link_to t('here'), logout_url %>
<% end %>
<% end %>