<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<title><%= @page_title %></title>

	<% if !current_user.login_user? %>
	<%= stylesheet_link_tag_html4 'tablekit', :media => 'all' %>
	<% stylesheet_link_tag_html4 'validation' %>
	<% end %>
	<%= stylesheet_link_tag_html4 'cbcl', :media => 'all' %>
	<%= stylesheet_link_tag_html4 'jqTableKit' %>

	<% if !current_user.login_user? %>
 	<%# javascript_include_tag 'prototype' %>
 	<%# javascript_include_tag 'scriptaculous' %>
 	<%# javascript_include_tag 'effects' %>
 	<%# javascript_include_tag 'controls' %>

 	<%= javascript_include_tag 'css_browser_selector' %>
 	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'flash' %>
	<%# javascript_include_tag 'curvy-corners' %>
	<%# javascript_include_tag 'livepipe/livepipe' %>
	<%# javascript_include_tag 'livepipe/tabs' %>
	<%= javascript_include_tag 'jquery/jquery.min' %>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
	<script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
	<%# javascript_include_tag 'jquery/jquery.cookie' %>
	<%= javascript_include_tag 'jquery/jqTableKit' %>
	<%= javascript_include_tag 'jrails' %>
 	<%# javascript_include_tag 'tablekit' %>
	<script type="text/javascript">
		var curvyCornersVerbose = false;
	</script>

	<% end %>
</head>

<body>
	<div id="infoheader">
		<div id="user_info" style='float:left;'></div>
		<div id='centertitle'><%= @center_title %></div>
	</div>

	<% if !current_user.login_user? && current_user.perms[:layout_show_menu] %>
		<%= render :partial => 'shared/menu' %>
	<% end %>
<div id="content">
	<% render :partial => 'layouts/error_messages' %>
	<%= render :partial => 'layouts/error_messages_flash' %>

	<%= @content_for_layout %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var user_name = document.cookies().get('user_name');
	if(!(typeof(user_name) == "undefined")) {
		var elem = getElemns('user_info');
		elem.innerHTML = user_name.replace(/\+/g, " ");;
	}
});
</script>
</body>
</html>

