<html>
<head>
  <title>CBCL Online</title>

	<%= stylesheet_link_tag 'login' %>
	<%= stylesheet_link_tag 'cbcl' %>

	<% bundle do %>
	<%= javascript_include_tag 'jquery-1.3.2.min', :cache => true %>
	<%= javascript_include_tag 'jquery.watermark.min', :cache => true %>
	<% end %>

	<script type="text/javascript">
	  $(document).ready(function() {
			$('#username').watermark('Brugernavn', {className: 'loginField'});
			$('#password').watermark('Password', {className: 'loginField'});
	  });
	</script>
    <!-- stylesheet_link_merged :login -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
</head>

<body id="bodylogin" TOPMARGIN=0 LEFTMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 scroll="no" style="border: 0px; overflow: hidden; margin: 0pt; margin-bottom: 200px;">
  <table cellpadding=0 cellspacing=0 border=0 width=100% height=100%>
  	<tr>
    <td width=100% height=100% align=center valing=middle>
			<%= @content_for_layout %>
	</td>
  </tr>
  </table><br>
  
</body>
</html>