<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<title><%= @page_title %></title>

	<% if !current_user.login_user? %>
	<%= stylesheet_link_tag_html4 'tablekit', :media => 'all' %>
	<% stylesheet_link_tag_html4 'validation' %>
	<%= stylesheet_link_tag_html4 'login', :media => 'all' %>
	<% end %>
	<%= stylesheet_link_tag_html4 'cbcl', :media => 'all' %>
	<%= stylesheet_link_tag_html4 'score_report', :media => 'all' %>
	<% stylesheet_link_tag_html4 'buttons' %>

	<% if !current_user.login_user? %>
	<script type="text/javascript">
		var curvyCornersVerbose = false;
	</script>

	<% end %>
</head>

<body>
	<div id="score_report">
		<%= @content_for_layout %>
	</div>
</body>
</html>

