<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<%- @user = current_user %>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

	<title><%= @page_title %></title>
	<%# stylesheet_link_tag 'cbcl' %>
	<%= stylesheet_link_tag 'survey', :media => :all %>
	<%# stylesheet_link_tag 'validation' %>

	<%# javascript_include_tag 'controls' %>

	<%= javascript_include_tag 'prototype' %>
 	<%= javascript_include_tag 'scriptaculous' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'validation' %>
	<%# javascript_include_tag 'css_browser_selector' %>
	<%= javascript_include_tag 'wforms/wforms_core' %>
	<%= javascript_include_tag 'wforms/wforms_switch' %>
	<%= javascript_include_tag 'charcount' %>
	<script type="text/javascript">
		var curvyCornersVerbose = false;
	</script>
	
</head>
<body>

	<%= render :partial => 'layouts/info_header' %>

<div id="content_survey">
	<%= render :partial => 'layouts/error_messages' %>
	<%= @content_for_layout %>
	<p/><br/><br/>
	<span id="copyright">Copyright TM. Achenbach - Oversat til dansk af Niels Bilenberg med tilladelse fra TM. Achenbach.</span>
</div>

</body>
</html>